button,
a {
    &:active,
    &:hover {
        outline: 0;
    }
}

a {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
    transition: all .4s ease-out 0s;

    &:hover {
        border-color: transparent;

        span {
            border-color: transparent;
        }
    }
}

strong,
b {
    font-family: $bold-font-family;
}

p {
    span {
        color: $primary-color;
    }
    
    &:empty {
        display: none;
    }
}



blockquote {
    position: relative;

    &:before {
        background-color: $primary-color;
        content: "";
        display: block;
        height: 35px;
        position: absolute;
            top: 8px;
            left: 0;
        width: 12px;
    }

    * {
        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: 10px;
    }
}
