// ===============================================
// Headings
// ===============================================

.header {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(40);

    &:after {
        background-color: $primary-color;
        content: "";
        display: block;
        height: 3px;
        margin: rem-calc(15) 0 0;
        width: 43px;
    }
}

.header--large {
    color: $primary-color;
    font-family: $heavy-font-family;
    font-size: rem-calc(130);
    line-height: rem-calc(100);
}

.header--center {
    &:after {
        margin: rem-calc(22) auto 0;
    }
}

.header--white {
    &:after {
        background-color: $white;
    }
}

// ===============================================
// Lead paragraphs
// ===============================================

.lead {
    font-family: $bold-font-family;
    margin-bottom: rem-calc(30);
}
