.acc__item {
            margin-bottom: 14px;
            border-bottom: 2px solid #dadada; 
        }
        
        a.acc__tgr,
        a.acc__tgr:active,
        a.acc__tgr:hover,
        a.acc__tgr:visited {
            display: block;
            border-bottom: none;
            color: inherit;
            background: #f4f4f4;
            padding: 0 20px;
            position: relative;
        }
        
        a.acc__tgr h3 {
            font-size: 18px;
            display: inline-block;
            margin: 15px 0 16px;
        }
        
        a.acc__tgr h3:after {
            content: '';
            background: url(../images/icons/chevron-down-black.svg) center right no-repeat;
            background-size: 14px;
            display: block;
            width: 40px;
            height: 20px;
            vertical-align: middle;
            position: absolute;
            right: 20px;
            top: 50%;
            margin-top: -10px
        }
        
        a.acc__tgr--active h3:after {
            background: url(../images/icons/chevron-up-black.svg) center right no-repeat;
            background-size: 14px;
        }
        
        .acc__content {
            padding: 20px;
            border-left: 1px solid #f4f4f4;
            border-right: 1px solid #f4f4f4;
        }
        
        .acc__content p:last-child {
            margin-bottom: 0;
        }