#back-to-top-tab {
    background: #e30613 url("/site-elements/images/icons/arrow-circle-white-smaller-up.png") no-repeat scroll 7px 7px; /* Was #3a3b3f */
    border-radius: 5px;
    bottom: 30%;
    color: rgb(255, 255, 255);
    height: 39px;
    padding-left: 45px;
    padding-top: 7px;
    position: fixed;
    right: -150px;
    width: 150px;
    z-index: 999;
    cursor: pointer;
    font-size:1rem
}
