.banner {
    position: relative;
    background-color: #466273;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clear: left;
    font-size: 1.25rem;
    height: 380px;
    overflow: hidden;

    &:before {
        background-image: linear-gradient(to bottom, rgba(26, 26, 26, .2) 0%, rgba(26, 26, 26, .3) 82%, rgba(26, 26, 26, .4) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#1a1a1a', GradientType=0);
        content: "";
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
    }

    h1 {
        &:not(.banner__header) {
            line-height: rem-calc(35);
            max-width: rem-calc(800);
        }
    }

    a {
        border-bottom: none;
        color: $white;
    }

    @include breakpoint(medium) {
        height: rem-calc(480);

        h1 {
            &:not(.banner__header) {
                line-height: rem-calc(50);
            }
        }
    }

    @include breakpoint(large) {
        height: rem-calc(550);
    }
}

    .banner__info {
        color: $white;
        padding-bottom: rem-calc(50);

        * {
            &:last-child {
                margin-bottom: 0;
            }
        }

        @include breakpoint(medium) {
            padding-top: rem-calc(106);
        }
    }

    .banner__header {
        font-size: rem-calc(22);
        margin-bottom: 30px;

        &:after {
            background-color: $white;
        }
    }

    .banner__subheader {
        font-family: $heavy-font-family;

        @include breakpoint(large) {
            font-size: rem-calc(43);
        }
    }

    .banner__desc {
        margin-bottom: 0;
    }

    .banner__subdesc {
        font-size: rem-calc(20);
    }

    .banner__bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .banner__selector {
        background: transparent;
        border: 0;
        color: $white;
        display: none;
        float: left;
        font-size: 1.0625rem;
        position: relative;
        z-index: 1;

        > li {
            > a,
            > a:hover {
                background: url("../images/icons/chevron-down-white.svg") center right no-repeat transparent;
                background-size: 14px;
                padding-left: 0;
                padding-right: rem-calc(24);
            }

            a:after {
                display: none !important;
            }
        }

        a {
            border-bottom: none;
            color: $white;
        }

        @include breakpoint(medium) {
            display: block;
        }
    }

    .banner__dropdown {
        background: transparent;
        border: 0;

        > li {
            max-width: 300px;
        }
    }

    .banner__item {
        background-color: rgba(0, 0, 0, .7);

        &:hover {
            background-color: rgba(0, 0, 0, .9);
        }
    }

    .banner__stats {
        clear: right;
        float: right;
        margin-bottom: 0;
        padding: rem-calc(25 0);

        @include breakpoint(medium) {
            clear: left;
            float: left;
            padding: 0;
        }

        span {
            display: block;

            &:nth-child(odd) {
                background: $secondary-color;
                font-size: rem-calc(20);
                margin: 0 auto;
            }

            &:nth-child(even) {
                font-size: rem-calc(17);
                margin: 4px 10px 10px 10px;
                text-align: center;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            @include breakpoint(medium) {
                display: inline-block;
            }

            @include breakpoint(large) {
                &:nth-child(even) {
                    margin: rem-calc(0 16);
                }
            }

            @include breakpoint(xlarge) {
                &:nth-child(even) {
                    font-size: rem-calc(21);
                    padding: 0;
                }
            }
        }
    }

    .banner__circle {
    	border-radius: 50%;
    	border: transparent;
    	text-align: center;
        height: 4.375rem;
        line-height: 4.375rem;
        width: 4.375rem;

        @include breakpoint(large) {
            height: rem-calc(80);
            line-height: rem-calc(80);
            width: rem-calc(80);
        }
    }

    .banner__button {
        @include breakpoint(large) {
            float: right;
            margin-top: rem-calc(90);
        }
    }

// ===============================================
// Applied if the banner has no image
//================================================

.banner--no-img {
    height: rem-calc(190);

    &:before {
        content: none;
    }

    h1 {
        font-size: rem-calc(33);
        line-height: rem-calc(38);
    }

    .banner__info {
        padding-bottom: 25px;
    }
}

// ===============================================
// Homepage banner view
//================================================

.banner--home {
    max-height: 85vh;

    h2, h3, h4, h5, h6 {
        font-family: $heavy-font-family;
    }

    @include breakpoint(medium) {
        .banner__info {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    @include breakpoint(large) {
        height: rem-calc(703);
    }
}

// ===============================================
// Homepage banner with video uses Vide.js
//================================================

.banner__video {
   //shows video above wrapper but still allow for clickable area to close mobile nav
   z-index: 0;
}

.banner__video__text {
    
}

// ===============================================
// Courses banner view
//================================================

.banner--courses {
    font-family: $bold-font-family;

    h1 {
        clear: left;
        float: left;
        font-family: $heavy-font-family;
        font-size: rem-calc(20);
        position: absolute;
            bottom: 0;

        &:not(.banner__header) {
            max-width: 50%;
        }
    }

    @media only screen and (max-width: 540px) {
        .banner__info {
            padding-bottom: 0;
        }
    }

    @include breakpoint(medium) {
        background-position: top center;

        h1 {
            font-size: rem-calc(32);
            line-height: inherit;
            position: relative;
                bottom: auto;
        }
    }
}

    .banner--courses__button {
        clear: left;
        display: none;
        float: left;
        margin-top: 30px;

        @include breakpoint(medium) {
            display: inherit;
        }

        @include breakpoint(xlarge) {
            clear: none;
            float: right;
            margin-top: 15px;
        }
    }

// ===============================================
// Event banner view
//================================================

.banner--event {
    @media (max-width: 320px) {
        h1 {
            font-size: rem-calc(23);
            line-height: rem-calc(28);
        }
    }
}

    .banner--event__desc {
        font-size: rem-calc(16);
        margin-bottom: rem-calc(22);

        span {
            color: $white;
            font-size: rem-calc(12);
            padding: 0 4px;
            vertical-align: middle;
            color: $white;
        }

        a {
            border-bottom: 2px solid #d7d7d6;
            color: $white;
        }

        @include breakpoint(medium) {
            font-size: inherit;
        }
    }

    .banner--event__button {
        margin-top: rem-calc(14);
    }

// ===============================================
// Schools banner view
//================================================

.banner--schools {
    &:before {
        background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, .3) 100%, rgba(26, 26, 26, .5) 100%);
    }

    @media screen and (max-width: 39.9375em) {
        height: rem-calc(480);
    }
}


// ===============================================
// Virtual Tour banner view
//================================================

.banner h1.vtTitle {
    width: auto;
    max-width: 9999px;
}
