.benefit {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px;
    color: inherit;
    display: block;
    font-family: $bold-font-family;
    line-height: 32px;
    padding-left: 45px;
}

.additionalqualification {
    background-image: url("../images/icons/benefits/icon-qualification.svg");
}

.professionalaccreditation {
    background-image: url("../images/icons/benefits/icon-accreditation.svg");
}

.studyabroad {
    background-image: url("../images/icons/benefits/icon-study-abroad.svg");
}

.placementyear {
    background-image: url("../images/icons/benefits/icon-placement-yr.svg");
}

.professionalmemberships {
    background-image: url("../images/icons/benefits/icon-memberships.svg");
}

.builtinworkexperienceplacement {
    background-image: url("../images/icons/benefits/icon-work-xp.svg");
}

.specialistfacilities {
    background-image: url("../images/icons/benefits/icon-facilities.svg");
}

.foundationyearavailable {
    background-image: url("../images/icons/benefits/icon-foundation-yr.svg");
}

.januarystartavailable {
    background-image: url("../images/icons/benefits/icon-calendar.svg");
    background-size: 30px;
}

.saturdaydelivery {
    background-image: url("../images/icons/benefits/icon-calendar2.svg");
    background-size: 26px;
}

.tripsincludedinfees {
    background-image: url("../images/icons/benefits/icon-fees.svg");
}

.applydirect {
    background-image: url("../images/icons/benefits/icon-fees.svg");
}

.applydirect {
    background-image: url("../images/icons/benefits/icon-apply-direct.svg");
    background-size: 25px;
}

.furtherstudies {
    background-image: url("../images/icons/benefits/icon-further-studies.svg");
}

.parttimeoption {
    background-image: url("../images/icons/benefits/icon-part-time.svg");
}

.sandwichyear {
    background-image: url("../images/icons/benefits/icon-sandwich-yr.svg");
}

.accelerateddegree {
    background-image: url("../images/icons/benefits/icon-accelerated-degree.svg");
    background-size: 24px;
}

.top-updegree {
    background-image: url("../images/icons/benefits/icon-top-up-degree.svg");
    background-size: 18px;
}

.apprenticeship {
    background-image: url("../images/icons/benefits/icon-apprenticeship.svg");
    background-size: 12px;
}

.flexiblelearning {
    background-image: url("../images/icons/benefits/icon-flexible-learning.svg");
    background-size: 26px;
}

.blendedlearning {
    background-image: url("../images/icons/benefits/icon-blended-learning.svg");
    background-size: 28px;
}

.distancelearning {
    background-image: url("../images/icons/benefits/icon-distance-learning.svg");
    background-size: 28px;
}
