.block {
    background-color: $white;
    border-bottom: 3px solid #d4d4d4;
    color: $dark-gray;
    padding: 0;
    position: relative;
    transition: all .4s ease-in-out;

    &:hover {
        opacity: .8;
    }

    h1, h2, h3, h4, h5, h6 {
        a,
        span {
            border-bottom: 2px solid #999;
            color: inherit;
            line-height: 27px;
            transition: all .2s ease-out 0s;
        }
    }

    figure {
        margin: 0;
    }

    a {
        &:last-child {
            border-color: #a4a6a7;
            color: #333;
            display: table;
            font-family: $bold-font-family;
            margin: 14px auto 0;
        }
    }
 }

 .block--thumb {
    background-color: transparent;
    border-bottom: none;
    display: block;
    min-height: rem-calc(84);
 }

 .block--lightgrey {
     background-color: $light-gray;
 }

 .block--secondary {
    padding-top: 10px;
    padding-bottom: 10px;
}

    .block__thumb {
        float: left;
        height: rem-calc(68);
        margin: 6px 16px 0 0;
        width: rem-calc(68);
    }

    .block__thumb--large {
        margin-top: 0;
        height: rem-calc(90);
        width: rem-calc(90);
    }

    .block__tag {
        background-color: $primary-color;
        color: $white;
        font-family: $bold-font-family;
        position: absolute;
            top: 0;
            right: 0;
        padding: rem-calc(5) rem-calc(12);
        z-index: 1;
    }

    .block__tag--alt {
        background-color: #333;
        color: $white;
        font-family: $bold-font-family;
        max-width: 184px;
        min-width: 80px;
        padding: 10px 12px 10px;
        position: absolute;
        text-align: center;
    }

    .block__img {
        height: rem-calc(170);
        width: 100%;
    }

    .block__content {
        padding: 18px;
    }

    .block__header {
        color: $dark-gray;
        font-family: $bold-font-family;
        font-size: rem-calc(17);
        line-height: rem-calc(28);
        margin-bottom: rem-calc(15);
    }

    .block__header--red {
        color: $primary-color;
    }

    .block__desc {
        font-family: $body-font-family;
        margin-bottom: 0;
    }

    .block__desc--strong {
        font-family: $bold-font-family;
        font-size: rem-calc(17);
    }

    .block__meta,
    .block__date {
        color: $primary-color;
        display: block;
        font-family: $bold-font-family;
        font-size: rem-calc(17);
    }

    .block__meta {
        margin-bottom: rem-calc(10);
    }

    .block__cta {
        position: absolute;
        right: 0;
            bottom: 18px;
            left: 0;
    }

    .block__button {
        background-size: 25px;
        display: table;
        font-size: rem-calc(18);
        margin: 18px auto 0;
        padding-top: 14px;
        padding-right: 55px;
        padding-bottom: 14px;
    }

.block--events__content {
    padding-bottom: rem-calc(120);
}
