.breadcrumbs {
    li {
        &:last-child {
            font-family: $bold-font-family;
        }
    }

    a {
        border-bottom: none;
        font-family: $body-font-family;
    }
}

.breadcrumbs--no-btm-margin {
    margin-bottom: 0;
}
