.button {
    background: $primary-color url("../../images/right-arrow-circle.svg") center right 18px no-repeat;
    border: 2px solid $primary-color;
    color: $white;
    display: inline-block;
    font-family: $font-family-bold;
    font-size: 20px;
    margin-bottom: 0;
    padding: 18px 62px 15px 20px;
}

.button--secondary {
    background-color: transparent;
    border-color: $white;

    &:hover,
    &:focus {
        background-color: $white;
        color: $primary-color;
    }
}

.button--outline {
    background: transparent url("../../images/down-arrow-red.svg") no-repeat 110px 27px;
    background-size: 16px;
    border-radius: 0;
    color: $primary-color;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    max-width: 145px;
    padding: 20px 39px 20px 19px;

    &:hover {
        background-color: $primary-color;
        background-image: url("../../images/down-arrow.svg");
    }
}
