.button {
    background-repeat: no-repeat;
    font-family: $bold-font-family;
    transition: all .4s ease-in-out;

    &:hover {
        background-color: #f14a51;
        border-color: transparent;
    }
}

a.button {
    color: $white;
    border-bottom: none;
}

.button--cta {
    background-image: url("../images/icons/right-arrow-circle.svg");
    background-position: center right 18px;
    padding-right: 64px;
}

.button--ghost,
a.button--ghost {
    background-color: transparent;
    background-image: url("../images/icons/chevron-down.svg");
    background-position: 104px 25px;
    background-size: 16px;
    border: 2px solid $primary-color;
    color: $primary-color;
    font-size: rem-calc(16);
    margin: 0 auto;
    min-width: 138px;
    padding: 20px 40px 20px 20px;

    &:hover,
    &:focus {
        background-color: $primary-color;
        background-image: url("../images/icons/chevron-down-white.svg");
    }
}

.button--sidebar {
    padding-right: 0;
    text-align: center;
    width: 100%;

    @include breakpoint(medium) {
        float: right;
        padding-right: 64px;
        text-align: initial;
        width: auto;
    }

    @include breakpoint(large) {
        float: left;
        font-size: 17px;
        width: 100%;
    }

    @include breakpoint(xlarge) {
        font-size: 20px;
    }
}

.button-view-more {
    &.active {
        background-color: $primary-color;
        background-image: url("../images/icons/chevron-up-white.svg");
        color: $white;
    }
}

.button--center {
    display: table;
    margin: 0 auto;
}

.button--btm,
a.button--btm {
    margin-top: 30px;
}
