.carousel {
    background-color: #466273;

    ::-webkit-scrollbar {
        display: none;
    }

    .section__link {
        display: inline-block;
        margin-bottom: rem-calc(12);
    }

    h4 {
        margin-bottom: 0;
    }
}

.carousel__column {
    
    &:focus {
        outline: none;
    }
}

    .carousel__row {
        padding-left: rem-calc(15);
        padding-right: rem-calc(15);
        position: relative;
    }

    .carousel__column--shadow {
        &:after {
            background: linear-gradient(to right, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0), rgba(0, 0, 0, .2) 100%);
            content: "";
            display: none;
            height: 88%;
            position: absolute;
                top: 0;
                right: 15px;
            width: rem-calc(60);
            z-index: 50;
        }

        > div {
            max-height: rem-calc(478);

            > div {
                max-width: rem-calc(1170);
            }
        }

        @include breakpoint(medium) {
            display: block;
        }
    }

    .carousel__panel {
        background-color: $white;
        border-bottom: none;
        box-shadow: 5px 5px 0 0 rgba(54, 77, 91, 1);
        float: left;
        margin-right: rem-calc(5);
        margin-bottom: rem-calc(5);
        min-height: rem-calc(468);
        padding: 0;
        position: relative;
        width: rem-calc(315);

        & + .carousel__panel {
            margin-left: 28px;
        }
    }

        .carousel__panel--conference {
            a {
                position: absolute;
                    left: 20px;
                    bottom: 20px;
            }
        }

    .carousel__header {
        color: $white;

        &:after {
            background-color: $white;
        }
    }

    .carousel__subheader {
        background-color: $light-gray;
        border-bottom: 2px solid $light-gray;
        color: #466273;
        margin-bottom: 0;
    }

        .carousel__subheader--img {
            background-color: #466273;
            background-size: cover;
            font-size: rem-calc(20);
            height: rem-calc(25);
            padding: rem-calc(110 20 20);
            text-align: left;
            color: $white;
        }

    .carousel__content {
        padding: rem-calc(25 25 50);

        span {
            color: $primary-color;
            font-weight: bold;
            line-height: rem-calc(30);
        }

        p {
            margin-bottom: rem-calc(5);
        }
    }

    .carousel__year-entry {
        background-color: $light-gray;
        margin-bottom: rem-calc(20) !important;
        padding: rem-calc(12 25);
    }

    .carousel__link {
        display: inline-block;
        margin-top: rem-calc(30);
        font-size: rem-calc(18);
        border-bottom-color: $white;
        color: $white;

        &:hover {
            color: $white;
        }
    }

.carousel--light {
    background-color: #537D80;
}

    .carousel--light__panel {
        box-shadow: 5px 5px 0 0 #446365;
    }

    .carousel--light__header {
        color: $white;

        &:after {
            background-color: $white;
        }
    }

    .carousel--light__subheader {
        background-color: $white;
        color: #446365;
    }

    .carousel--light__img {
        padding: 0 rem-calc(10);
        max-width: 40%;

        &:not(:first-child) {
            margin-top: rem-calc(30);
        }
    }

    .carousel--light__eclipse {
        background-color: $light-gray;
        border-radius: 50%;
        color: #446365;
        display: inline-block;
        font-family: $bold-font-family;
        font-size: rem-calc(18);
        height: rem-calc(68);
        margin-bottom: rem-calc(20);
        padding: rem-calc(22);
        text-align: center;
        width: rem-calc(68);

        &:only-of-type {
            display: block;
            margin: 0 auto rem-calc(20);
        }

        &:only-child {
            display: block;
            margin: 0 auto rem-calc(20);
        }

        :only-child {
            padding: rem-calc(20) 0;
        }

        &:not(:first-child) {
            float: right;
        }

        p {
            margin-bottom: 0;
        }

        span {
            color: inherit;
            display: block;
            font-size: rem-calc(35);
            line-height: normal;
        }
    }

    .carousel--light__link {
        border-bottom: 2px solid $light-gray;
        color: #466273;
        right: 15px;
        bottom: 15px;
        z-index: 100;
    }
