.content-grid {
    padding: rem-calc(4);

    .column {
        position: relative;
    }

    .content-blk,
    .featured-blk {
        border: rem-calc(4) solid $white;
    }
}

.content-grid--no-padding {
    padding: 0;

    .content-blk,
    .featured-blk {
        border: 0;
    }
}
