.content-blk-wrap {
    display: block;
    border-bottom: none;

    &:before {
        background-color: #222;
        content: "";
        opacity: .1;
        position: absolute;
            top: 4px;
            right: 4px;
            bottom: 4px;
            left: 4px;
        transition: opacity .4s ease-in-out;
        z-index: 1;
    }

    &:hover {
        &:before {
            opacity: .01;
        }
    }

    @include breakpoint(xlarge) {
        &:hover {
            .content-blk__desc {
                max-height: rem-calc(392);
                opacity: 1;
                transition: all .4s ease-in;
                visibility: visible;
            }
        }
    }
}

.content-blk {
    position: relative;
    background-color: $light-gray;
    color: $white;
    height: rem-calc(400);

    [type="search"] {
        background: $white url("../images/icons/search-grey.svg") no-repeat center right 14px;
        border: 1px solid #c9c9c9;
        border-radius: 0;
        color: #333;
        font-family: $bold-font-family;
        font-size: rem-calc(17);
        height: auto;
        margin-bottom: rem-calc(40);
        padding: rem-calc(20 14);

        &::placeholder {
            color: #333;
        }
    }
}

.content-blk--x2 {
    height: auto;

    .content-blk__info {
        padding: rem-calc(50 10);
    }

    @include breakpoint(large) {
        height: rem-calc(400);
    }

    @include breakpoint(medium) {
        .content-blk__info {
            max-width: 620px;
        }
    }
}

    .content-blk__url {
        border-bottom: none;
        display: block;
        width: 100%;
        height: 100%;
        color: $white;

        &:hover,
        &:focus {
            color: $white;
        }
    }

    .content-blk__info {
        margin: 0 auto;
        padding: rem-calc(20);

        a {
            color: inherit;
        }
    }

    .content-blk__find-agent {
        max-width: rem-calc(490);
    }

    .content-blk__header {
        margin-bottom: 0;
        font-size: rem-calc(20);
    }

    .content-blk__desc {
        font-size: rem-calc(18);

        p {
            margin: 0;
        }
    }

/* ===============================================
    Image
================================================== */

.content-blk--img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        height: rem-calc(127);
        background: linear-gradient(to bottom, rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, .8) 100%);
        transition: all .4s ease-out;
    }

    .content-blk__info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    @include breakpoint(xlarge) {
        .content-blk__desc {
            max-height: 0;
            opacity: 0;
            transition: all .4s ease-out;
            visibility: hidden;
        }
    }
}

/* ===============================================
    Text
================================================== */

.content-blk--txt {
    background-color: $primary-color;
}

.content-blk--agent {
    color: inherit;
    height: rem-calc(440);

    a {
        color: $primary-color;
    }

    @include breakpoint(medium) {
        height: rem-calc(482);
    }
}

.content-blk--vidtxt {
    height: auto;

    @include breakpoint(large) {
        height: rem-calc(482);
    }
}

.content-blk--social {
    .content-blk__info {
        height: 100%;
    }

    img {
        margin-bottom: rem-calc(24);
    }
}

.content-blk--txt,
.content-blk--agent {
    @include breakpoint(large) {
        .content-blk__info {
            position: relative;
            top: 50%;
            padding: 1.76471rem;
            transform: translateY(-50%);
            background-size: cover;
        }
    }
}

.content-blk--txt,
.content-blk--agent {
    .content-blk__desc {
        font-size: rem-calc(23);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* ===============================================
    Video
================================================== */

.content-blk--video {
    .content-blk__info {
        padding-right: rem-calc(86);
    }
}
