#cookie-bar {background:#F4F4F4; height:auto; line-height:24px; color:#686868; text-align:center; padding:3px 55px;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:10px 0;}
#cookie-bar a {color:#979797; display:inline-block; border-radius:3px; border:none;}
// #cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {color:#990000;}
// #cookie-bar .cb-disable {background:#990000;}
// #cookie-bar .cb-disable:hover {color:$primary-color;}
#cookie-bar .cb-enable {text-decoration:none;}
#cookie-bar .cb-policy {text-decoration: underline}
#cookie-bar .cb-policy:hover {color:$primary-color;}
#cookiebar-close {
    position: absolute!important;
    right: 18px!important;
    top: 18px!important;
    width: 20px!important;
    height: 20px!important;
}
