.searchContainer{
    position: relative;
}

.liveSearch {
    position: absolute;
    z-index: 99999;
    width: 100%;
}

.liveSearch__results {
    display: none;
    list-style: none;
    margin: 0;
    background: $white;
    border: 1px solid #c9c9c9;
    border-radius: 3px;

    li + li {
        border-top: 1px solid #c9c9c9;
    }
}

.liveSearch__results .loading,
.liveSearch__results .noresults {
    padding: 20px;
}

.liveSearch__resultsItem a {
    display: block;
    padding: 10px 20px;
    border-bottom: 0;

    &:hover,
    &:focus {
        background-color: #f0f3f5;
    }
}

.course-finder {
    padding-top: rem-calc(22);
    padding-bottom: rem-calc(32);
    background-color: #eee;

    .column + .column {
        margin-top: rem-calc(20);
    }

    input,
    select {
        margin-bottom: 0;
    }

    span {
        border-bottom: 1px solid #a4a5a6;
        display: inline-block;
        font-family: $bold-font-family;
        font-size: rem-calc(18);
        margin-top: rem-calc(58);
        text-transform: uppercase;
    }

    .button {
        width: 100%;
        height: rem-calc(61);
    }

    p {
        margin: rem-calc(30) 0 0;
    }

    @include breakpoint(medium) {
        .button {
            margin-top: rem-calc(42);
        }
    }

    @include breakpoint(large) {
        padding-top: rem-calc(42);
        padding-bottom: rem-calc(52);

        .column + .column {
            margin-top: 0;
        }
    }
}

.course-finder--lightgrey {
    background-color: $light-gray;
}

.course-finder--white {
    background-color: $white;
}

.course-finder--alt {

}

.course-finder-button {
    width: 100%;
    height: rem-calc(62);
}

@include breakpoint(medium) {
    .course-finder-button {
        margin-top: rem-calc(46);
    }
}
