.addeventatc {
    display: inline-block;
    position: relative;
    z-index: 999998;
    border-bottom: 2px solid #d7d7d6;
    color: $white;
}

.addeventatc:hover {
}

.addeventatc .start,.addeventatc .end,.addeventatc .timezone,.addeventatc .title,.addeventatc .description,.addeventatc .location,.addeventatc .organizer,.addeventatc .organizer_email,.addeventatc .facebook_event,.addeventatc .all_day_event,.addeventatc .date_format,.addeventatc .alarm_reminder,.addeventatc .recurring,.addeventatc .attendees,.addeventatc .calname,.addeventatc .uid,.addeventatc .status,.addeventatc .method {
    display: none !important;
}

/* The drop down */
.addeventatc_dropdown {
    padding: 0;
    width: 200px;
    position: absolute;
    z-index: 99999;
    padding: 6px 0 0;
    background: $white;
    text-align: left;
    display: none;
    margin-top: 4px;
    margin-left: -1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 1px 3px 6px rgba(0, 0, 0, .15);
    -moz-box-shadow: 1px 3px 6px rgba(0, 0, 0, .15);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .15);
}

.addeventatc_dropdown span {
    display: block;
    line-height: 100%;
    background: $white;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    padding: 9px 10px 9px 40px;
}

.addeventatc_dropdown span:hover {
    background-color: #f4f4f4;
    color: $black;
    text-decoration: none;
    font-size: 14px;
}

.addeventatc_dropdown em {
    color: #999 !important;
    font-size: 12px !important;
}

.addeventatc_dropdown .frs {
    background: $white;
    color: #cacaca !important;
    cursor: pointer;
    font-size: 9px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 110% !important;
    padding-left: 10px;
    position: absolute;
    right: 10px;
    text-align: right;
    text-decoration: none;
    top: 5px;
    z-index: 101;
}

.addeventatc_dropdown .frs:hover {
    color: #999 !important;
}

.addeventatc_dropdown .ateappleical {
    background-image: url(/site-elements/images/icons/event-dropdown/dropdown-apple-t1.png);
    background-position: 13px 50%;
    background-repeat: no-repeat;
}

.addeventatc_dropdown .ateoutlook {
    background-image: url(/site-elements/images/icons/event-dropdown/dropdown-outlook-t1.png);
    background-position: 13px 50%;
    background-repeat: no-repeat;
}

.addeventatc_dropdown .ateoutlookcom {
    background-image: url(/site-elements/images/icons/event-dropdown/dropdown-outlook-t1.png);
    background-position: 13px 50%;
    background-repeat: no-repeat;
}

.addeventatc_dropdown .ategoogle {
    background-image: url(/site-elements/images/icons/event-dropdown/dropdown-google-t1.png);
    background-position: 13px 50%;
    background-repeat: no-repeat;
}

.addeventatc_dropdown .ateyahoo {
    background-image: url(/site-elements/images/icons/event-dropdown/dropdown-yahoo-t1.png);
    background-position: 13px 50%;
    background-repeat: no-repeat;
}

.addeventatc_dropdown .atefacebook {
    background-image: url(/site-elements/images/icons/event-dropdown/dropdown-facebook-t1.png);
    background-position: 13px 50%;
    background-repeat: no-repeat;
}

.addeventatc_dropdown .copyx {
    height: 21px;
    display: block;
    position: relative;
    cursor: default;
}

.addeventatc_dropdown .brx {
    height: 1px;
    overflow: hidden;
    background: #e0e0e0;
    position: absolute;
    z-index: 100;
    left: 10px;
    right: 10px;
    top: 9px;
}
