.facts-figures__panel {
    background-color: $light-gray;
    height: 100%;
}

.facts-figures__list {
    display: inline-block;
}

.facts-figures__icon {
    background-color: $white;
    border-radius: 50px;
    float: left;
    height: 65px;
    margin-right: 20px;
    padding: 20px;
    width: 65px;
}

.facts-figures__header {
    padding: 16px 0;
}

.facts-figures__subheader {
    margin-bottom: 15px;
}

.facts-figures__button {
    display: table;
    margin-top: 10px;
}
