.featured-blk {
    position: relative;
    padding-top: rem-calc(85);
    padding-bottom: rem-calc(45);
    min-height: rem-calc(480);
    background-color: $primary-color;
    color: $white;
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.featured-blk--img {
    background-size: contain;
}

.featured-blk__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: rem-calc(65) rem-calc(20);
}

.featured-blk__header {
    margin-bottom: rem-calc(26);
    font-size: rem-calc(30);
    text-align: center;

    &:after {
        margin-top: rem-calc(15);
        margin-left: auto;
        margin-right: auto;
        background-color: $white;
    }
}

.featured-blk__desc {
    margin: 0 auto;
    max-width: rem-calc(380);
    font-family: $bold-font-family;
    font-size: rem-calc(23);

    p {
        line-height: rem-calc(34);
    }
}
