.filter {
    margin: rem-calc(20) 0;

    .filter__button {
        background-color: transparent;
        background-image: url("../images/icons/right-arrow-blue.svg");
        border: 1px solid #466273;
        color: #466273;
        float: none;
    }

    @include breakpoint(medium) {
        margin: rem-calc(30 0 40);
    }

    @include breakpoint(large) {
        margin: rem-calc(48) 0;
    }
}

.filter--posts {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 30px;
}

.filter--search {
    margin: 30px 0 46px;

    .filter__toolbar {
        margin-bottom: 20px;
    }
}

.filter--alt {
    margin: 30px 0;

    @include breakpoint(large) {
        margin-bottom: 16px;
    }
}

.filter--inner {
    margin: 10px 0 30px;

    .filter__view {
        margin-top: 18px;
    }
}

    .filter__toolbar {
        @include breakpoint(large) {
            margin-bottom: rem-calc(30);
        }
    }

    .filter__button {
        float: left;

        @include breakpoint(large) {
            display: none;
        }
    }

    .filter__header {
        display: none;
        font-family: $bold-font-family;

        @include breakpoint(large) {
            display: block;
            float: left;
            margin-bottom: 0;
            font-size: rem-calc(18);
        }
    }

    .filter__reset {
        display: inline-block;
        font-size: rem-calc(15);
        color: $dark-gray;
        line-height: 16px;
        border-bottom: 2px solid #b8b8b8;
    }

    .filter__view {
        float: right;
        margin-top: rem-calc(30);

        button,
        a {
            background-size: 17px;
            display: inline-block;
            width: rem-calc(29);
            height: rem-calc(29);
            padding: rem-calc(8);
            text-indent: -9999px;
            background-repeat: no-repeat;
            background-position: center;
            border-bottom:0;
        }

        @include breakpoint(large) {
            margin-top: 0;
        }
    }

    .filter__view__title {
        display: inline-block;
        margin-right: rem-calc(10);
        font-family: $bold-font-family;
        font-size: rem-calc(18);
        line-height: rem-calc(29);
        vertical-align: top;
    }

    .filter__view__grid {
        background-image: url("../images/icons/filter-grid-icon.svg");
    }

    .filter__view__grid--active {
        background-image: url("../images/icons/filter-grid-icon-red.svg");
    }

    .filter__view__list {
        background-image: url("../images/icons/filter-list-icon.svg");
    }

    .filter__view__list--active {
        background-image: url("../images/icons/filter-list-icon-red.svg");
    }

    .filter__block {
        display: none;

        @include breakpoint(large) {
            display: block;
        }
    }

        .filter__block__reset {
            display: inline-block;
            margin-bottom: rem-calc(35);
            font-family: $bold-font-family;
            font-size: rem-calc(15);
            color: $white;
            border-bottom: 1px solid $white;

            @include breakpoint(large) {
                display: none;
            }
        }

    .filter__item {
        position: relative;
        display: inline-block;
        margin: 0 rem-calc(7) rem-calc(14) 0;
        padding: rem-calc(11) rem-calc(13);
        font-family: $bold-font-family;
        font-size: rem-calc(15);
        color: #466273;
        border: 2px solid #466273;
        border-radius: 2px;

        &:hover {
            background-color: #466273;
            color: $white;
        }

        &.filter__item--active {
            background-color: #466273;
            border-color: #466273;
            color: $white;
            opacity: 1;

            &:hover,
            &:focus {
                @extend .filter__item--active;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: -22px;
            right: -10px;
            width: rem-calc(23);
            height: rem-calc(23);
            border: 2px solid #466273;
            background-color: $white;
            background-image: url("../images/icons/filter-cross.svg");
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 50%;
            opacity: 0;
            transition: all .2s ease-out 0s;
        }
    }

    .filter__item.filter__item--active {
        &:after {
            top: -12px;
            opacity: 1;
        }
    }

// Popup window
// -------------------------------------------------
.mfp-wrap {
    .filter__block {
        display: block;
        padding: rem-calc(30) rem-calc(15) rem-calc(12);
        background-color: $offcanvas-background;

        .mfp-close {
            background-image: url("../images/icons/close-white.png");
        }
    }

    .filter__block__reset {
        display: inline-block;
    }

    .filter__item,
    .groupfilter__item {
        color: $white;

        &.filter__item--active,
        &.filter__item--active:hover,
        &.filter__item--active:focus  {
            background-color: $white;
            border-color: $white;
            color: $dark-gray;
        }
    }

    .filter__item::after {
        border-color: $white;
        background-color: $offcanvas-background;
        background-image: url("../images/icons/filter-cross-white.png");
    }
}

// Simplified version
// -------------------------------------------------
.filter--simple {
    margin: 0 0 rem-calc(33);

    .filter__item {
        padding-right: rem-calc(35);
        padding-left: rem-calc(35);
    }
}

// Profile filter
// -------------------------------------------------
.profile-filter {
    .button {
        height: 3.8125rem;
        width: 100%;
    }
}

// Group filter
// -------------------------------------------------
.groupfilter__item {
      position: relative;
      display:inline-block;margin: 0 .4375rem .875rem 0;
      padding: .6875rem .8125rem;
      font-family: $bold-font-family;
      font-size: .9375rem;
      color: #466273;
      border: 2px solid #466273;
      border-radius: 2px;
  }

  .groupfilter__item:hover {
      background-color: #466273;
      color: $white
  }

  .groupfilter__item--active,.groupfilter__item.groupfilter__item--active:hover,.groupfilter__item.groupfilter__item--active:focus {
      background-color: #466273;
      border-color: #466273;
      color: $white;
      opacity: 1;
  }

  .groupfilter__item.groupfilter__item--active:after,.groupfilter__item.groupfilter__item--active:hover:after,.groupfilter__item.groupfilter__item--active:focus:after {
      top: -12px;
      opacity: 1;
  }
