@font-face {
  font-family: "Bliss-Regular";
  src: url("../fonts/BlsW-Rg/blsw-rg.eot");
  src: url("../fonts/BlsW-Rg/blsw-rg.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BlsW-Rg/blsw-rg.woff2") format("woff2"),
       url("../fonts/BlsW-Rg/blsw-rg.woff") format("woff"),
       url("../fonts/BlsW-Rg/blsw-rg.ttf")  format("truetype");
}

@font-face {
  font-family: "Bliss-Bold";
  src: url("../fonts/BlsW-Bd/blsw-bd.eot");
  src: url("../fonts/BlsW-Bd/blsw-bd.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BlsW-Bd/blsw-bd.woff2") format("woff2"),
       url("../fonts/BlsW-Bd/blsw-bd.woff") format("woff"),
       url("../fonts/BlsW-Bd/blsw-bd.ttf")  format("truetype");
}

@font-face {
  font-family: "Bliss-Heavy";
  src: url("../fonts/BlsW-Hv/blsw-hv.eot");
  src: url("../fonts/BlsW-Hv/blsw-hv.eot?#iefix") format("embedded-opentype"),
       url("../fonts/BlsW-Hv/blsw-hv.woff2") format("woff2"),
       url("../fonts/BlsW-Hv/blsw-hv.woff") format("woff"),
       url("../fonts/BlsW-Hv/blsw-hv.ttf")  format("truetype");
}
