.footer-wrap {
    @include breakpoint(large) {
        position: fixed;
            bottom: 0;
        width: 100%;
    }
}

.footer {
    font-size: rem-calc(17);
    padding: rem-calc(60 0 30);
    background-color: #3a3b3f;

    * {
        font-family: $bold-font-family;
    }
}

    .footer__item {
        a {
            border-bottom: none;
            color: #a8a8a8;

            &:before {
                background-color: #79797b;
                transition: none;
            }

            &:hover {
                &:before {
                    margin: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    .footer__title {
        display: inline-block;
        line-height: 1;
        margin-bottom: rem-calc(15);

        a {
            border-bottom: none;
            font-size: rem-calc(20);
            color: $white;
        }
    }

    .footer__copyright {
        color: #a8a8a8;
        margin: rem-calc(18 0 0);
    }

.footer--top {
    .menu {
        li {
            display: block;
            line-height: 1.4;
            margin: rem-calc(18 0);
        }

        a {
            display: table;
        }
    }
}

.footer--bottom {
    border-top: 1px solid #616265;
    padding: 35px 0 46px;
    text-align: center;

    .column {
        &:first-child {
            float: right;
            padding-right: 15px;
        }
    }

    .social-menu {
        margin-bottom: 20px;
        text-align: center;
    }

    @include breakpoint(medium) {
        text-align: initial;
    }

    @include breakpoint(large) {
        text-align: inherit;

        .social-menu {
            margin-bottom: 0;
            text-align: right;
        }
    }
}

