.gallery__container {
    float: left;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include breakpoint(medium) {
        height: 280px;
        width: 50%;
    }

    @include breakpoint(large) {
        width: 20%;
    }
}

.gallery__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    height: 100%;
    transition: all .4s ease-in-out;

    &:hover {
        opacity: .8;
    }

    &:after {
        background-image: linear-gradient(to bottom, rgba(51, 51, 51, .3) 0%, rgba(51, 51, 51, .3) 82%);
        content: "";
        position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
    }
}

.gallery__icon {
    position: absolute;
        right: 10px;
        bottom: 10px;
    z-index: 1;
}

@include breakpoint(large) {

    .gallery__container--6 {
        width: 16.66666666666666666%;
    }
    .gallery__container--5 {
        width: 20%;
    }

    .gallery__container--4 {
        width: 25%;
    }

    .gallery__container--3 {
        width: 33.333333333333%;
    }
    .gallery__container--2 {
        width: 10%;
    }

}