.content {
    padding: 40px 0 50px;

    h1, h2, h3, h4, h5, h6 {
        display: inline-block;
        margin: 15px 0 16px;
    }
}

    .content__link,
    .content__download,
    .gc__link,
    .gc__pdf {
        border-bottom: none;
        color: $primary-color;
        display: block;
        font-family: $bold-font-family;
    }

    .content__link,
    .gc__link {
        background: url("../images/icons/chevron-right.svg") no-repeat right 5px;
        background-size: 9px;
        display: inline-block;
        padding-right: 22px;
    }

    .content__download,
    .gc__pdf {
        background: url("../images/icons/icon-pdf.svg") no-repeat center left;
        background-size: 20px;
        padding-left: 32px;

        &:not(:first-child) {
            margin-top: 12px;
        }
    }

.intro {
    .benefit {
        margin-right: 40px;

        &:not(:first-child) {
            margin-top: 26px;
        }

        @include breakpoint(large) {
            display: inline-block;
            margin-top: rem-calc(50);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.intro--courses {
    .button {
        margin-bottom: 40px;
    }

    @include breakpoint(medium) {
        .button {
            display: none;
        }
    }
}

    .intro__subheader {
        margin-bottom: 15px;

        &:not(:first-of-type) {
            margin-top: 20px;
        }
    }
