.getting-there__content {
    @include breakpoint(large) {
        padding-right: rem-calc(75);
    }
}

.getting-there__header {
    font-size: rem-calc(23);
}

.getting-there__subheader {
    margin-bottom: 2px;
    font-size: rem-calc(18);
    font-family: $bold-font-family;
}

.getting-there .map__canvas {
    height: rem-calc(300);
    margin-top: rem-calc(40);

    @include breakpoint(medium) {
        height: rem-calc(515);
    }

    @include breakpoint(large) {
        margin-top: rem-calc(10);
    }
}
