.grad-stories {
    .img-container {
        margin-bottom: 30px;
    }

    @include breakpoint(medium) {
        margin-bottom: 0;
    }
}

    .grad-stories__img {
        &:after {
            background-image: linear-gradient(to bottom, rgba(51, 51, 51, .3) 0%, rgba(51, 51, 51, .3) 82%);
            content: "";
            position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
        }
    }

    .grad-stories__subheader {
        color: inherit;
        font-family: $bold-font-family;
        font-size: 20px;

        span {
            border-bottom: none;
            color: $primary-color;
        }
    }
