.hero-banner {
    margin-bottom: 1px;
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(50);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(medium) {
        padding-top: rem-calc(126);
        padding-bottom: rem-calc(126);
    }

    @include breakpoint(large) {
        min-height: rem-calc(703);
    }
}

.hero-banner__info {
    color: $white;
}

.hero-banner__header {
    margin-bottom: rem-calc(23);
    font-size: rem-calc(22);

    &:after {
        background-color: $white;
    }
}

.hero-banner__desc {
    font-family: $font-family-heavy;
    font-size: rem-calc(38);

    @include breakpoint(large) {
        font-size: rem-calc(50);
    }
}

.hero-banner__desc p {
    line-height: 1.3;
}
