// Uses the $icons map defined in variables.scss.
// Add your icon into the map and the mixin will do the rest
// Comment out the fallback if you dont need to support older browsers
//
// If you for some reason dont want to use the icons map you can manually add in an icon, example below
// .icon-name {
//    font-size: rem-calc(32); // works because "width" & "height" were set on .icon using em units
//    color: #ff0000; // works for single-colored icons, because "fill" was set to "currentColor" on .icon
// }
// -------------------------------------------------
// .icon {
//     display: inline-block;
//     width: 1em;
//     height: 1em;
//     vertical-align: middle;
//     fill: currentColor;
// }
//
// // Icons
// // -------------------------------------------------
// @include icons;
//
// // Icons fallback (pngs)
// // -------------------------------------------------
// @include icons-fallback;

/* ================================================= */

.icon {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px;
    border-bottom: none;
    color: $dark-gray;
    display: inline-block;
    font-family: $bold-font-family;
    font-size: 19px;
    line-height: 32px;
    padding-left: 50px;
}

.icon--media {
    background-image: url("../images/icons/icon-media.svg");
}

.icon--facilities {
    background-image: url("../images/icons/icon-facilities.svg");
}

.icon--facilities2 {
    background-image: url("../images/icons/icon-facilities2.svg");
}

.icon--directory {
    background-image: url("../images/icons/icon-directory.svg");
}

.icon--email {
    background-image: url("../images/icons/icon-contact.svg");
}

.icon--tel {
    background-image: url("../images/icons/icon-tel.svg");
}

.icon--courses {
    background-image: url("../images/icons/icon-courses.svg");
}

.icon--profiles {
    background-image: url("../images/icons/icon-profiles.svg");
    background-size: 25px;
}

.icon--accreditation {
    background-image: url("../images/icons/icon-accreditation2.svg");
}

.icon--research {
    background-image: url("../images/icons/icon-research.svg");
    background-size: 25px;
}

.icon--video {
    width: rem-calc(66);
    height: rem-calc(66);
    background-color: $primary-color;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    &:after {
        position: relative;
        top: 50%;
        left: 50%;
        margin-top: -11px;
        margin-left: -5px;
        @include css-triangle(11px, $white, right);
    }
}

.icon--video-center {
    bottom: 50%;
    right: 50%;
    margin-right: rem-calc(-33);
    margin-bottom: rem-calc(-33);
}
