figure {
    display: inline-block;
    margin: 10px 0 40px 0;
    position: relative;
}

.img-container {
    background-color: #3a3b3f;
    background-repeat: no-repeat;
    background-size: cover;
    height: 236px;
    margin: 10px 0 0;
    max-width: 100%;
    position: relative;
    width: 370px;
}

.img-container--clearing {
    margin-bottom: 30px;
}

.img-container--pod {
    height: rem-calc(208);
}

.img-caption,
.imgCaption {
    color: $white;
    font-family: $bold-font-family;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    bottom: 20px;
    left: 20px;
    clear: both;
    z-index: 1;
}



.img-caption--article {
    background-color: #3a3b3f;
    bottom: 0;
    left: 0;
    font-size: 15px;
    padding: 10px;
    width: 100%;

}

.img-caption--thumb {
    right: 0;
}
