.connections__content {
    margin-bottom: 60px;
}

 .connections__logo {
    border: 1px solid #d6d6d6;
    height: 185px;
    margin-bottom: 30px;
}

.connections__img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.connections__header {
    font-size: 18px;
}
