.key-figures__block {
    margin: 30px 0;

    &:nth-child(1) {
        span {
            color: $secondary-color;
        }
    }

    &:nth-child(2) {
        span {
            color: #e06766;
        }
    }

    &:nth-child(3) {
        span {
            color: #008fbc;
        }
    }
}

.key-figures__value {
    font-family: $heavy-font-family;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 0;
}

 .key-figures__info {
     font-size: 18px;
     line-height: 25px;
     margin-bottom: 0;
 }

 .key-figures__graph {
     display: block;
     margin: 50px auto 0;

     @include breakpoint(large) {
         margin-top: 0;
     }
 }
