.kis {
	padding-top: 0;
}

.unistats-widget-frame {
	overflow: hidden;
	border: none;
	width: rem-calc(615);
	height: rem-calc(160);
	margin: 0 auto;
	display: block;
}

@media only screen and (max-width: 40em) {
	.unistats-widget-frame{
		overflow:hidden;
		border:none;
		width:12.4375rem;
		height:32rem;
		margin: 0 auto;
		display:block;
	}
}

.slideshowPopupHideThis{
    display: none;
}
