.list {
    margin-bottom: 0;
}

    .list__header {
        font-family: $bold-font-family;
    }

     .list__header--alt {
         font-family: $heavy-font-family;
         font-size: rem-calc(17);

         @include breakpoint(large) {
            font-size: rem-calc(20);
         }
     }

    .list__item {
        & > a {
            border-bottom: 2px solid #aeb0b1;

            &:hover {
                border-color: transparent;
                color: $primary-color;
            }
        }

        &:not(:first-child) {
            margin-top: 15px;
        }

        @include breakpoint(large) {
            font-size: 14px;
        }

        @include breakpoint(xlarge) {
            font-size: 16px;
        }
    }

        .list__item__header {
            color: $primary-color;
            display: block;
            font-family: $heavy-font-family;
            font-size: 16px;
            margin-bottom: 4px;
        }

    .list__fancy {
        padding-left: 23px;
        position: relative;

        &:before {
            background-color: $white;
            border: 3px solid $primary-color;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 12px;
            position: absolute;
                top: 10px;
                left: 0;
            width: 12px;
        }
    }

.ol-styled {
    margin-left: 0;
    margin-bottom: 0;
    padding-right: 0;
    list-style-type: none;

    li {
        position: relative;
        min-height: rem-calc(60);
        padding-left: rem-calc(75);
        counter-increment: step-counter;

        &:after {
            content: counter(step-counter);
            position: absolute;
            top: rem-calc(8);
            left: 0;
            display: inline-block;
            width: rem-calc(45);
            height: rem-calc(45);
            background-color: $black;
            color: white;
            font-family: $bold-font-family;
            font-size: rem-calc(20);
            text-align: center;
            line-height: 45px;
            border-radius: 50%;
        }
    }

    li + li {
        margin-top: rem-calc(23);
    }
}

.ol-styled--grey {

    li {
        &:after {
            background-color: $light-gray;
            color: $primary-color;
        }
    }

}
