.map__canvas {
    border: 1px solid #ebebeb;
    width: 100%;
    height: rem-calc(450);
}

.map__canvas--small {
    height: rem-calc(308);
    margin-top: 40px;

    @include breakpoint(medium) {
        height: rem-calc(516);
        margin-top: 70px;
    }

    @include breakpoint(large) {
        height: rem-calc(314);
        margin-top: 0;
    }
}
