.menu-toggle {
	cursor: pointer;
	display: inline-block;
	font-family: $bold-font-family;
	font-size: rem-calc(16);

	&[aria-expanded="true"] {
		.menu-icon {
			&:hover {
				&:before,
				&:after {
					box-shadow: none;
				}
			}

			&:before,
			&:after {
				box-shadow: none;
				top: 10px;
			}

			&:before {
				@extend .menu-icon.dark::after;
				transform: rotate(-45deg);
			}

			&:after {
				transform: rotate(45deg);
			}
		}
	}
}

.menu-icon {
	margin-left: 8px;
}

.menu-search-toggle {
	background: url("../images/icons/search.svg") no-repeat center;
	height: rem-calc(21);
	margin-left: 10px;
	position: relative;
	text-indent: -9999px;
	vertical-align: middle;
	width: rem-calc(21);

	@include breakpoint(large) {
		height: rem-calc(118);
	}
}

.menu-search-toggle--active {
	background-image: url("../images/icons/icon-close-red.svg");
	background-size: 21px;

	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-top: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 9px solid $light-gray;
		border-left: 9px solid transparent;
		bottom: -1px;
		left: 50%;
		top: 40px;
		margin-left: -9px;
		position: absolute;
	}
}

.menu-search {
	height: 0;
	overflow: hidden;
	position: relative;
	transition: ease .2s all;
	padding: 0;
	z-index: 5;

	@include breakpoint(xlarge) {
		display: none;
	}
}

.menu-search--active {
    height: rem-calc(75);
}

	.menu-search__field {
		background-color: $light-gray;
		border: 0 !important;
		border-radius: 0;
		height: rem-calc(75) !important;
		margin: 0;
		max-width: none !important;
		padding: rem-calc(0 30) !important;

		&:focus {
			background-color: $light-gray;
		}
	}

	.menu-search__button {
		background: url("../images/icons/search.svg") no-repeat center;
		width: 76px;
		height: 76px;
		position: absolute;
		right: 10px;
		top: 0;
		margin: 0;
		padding: 0;
		border: none;
		text-indent: 999px;
	}
