.skip-to-top-wrapper {
    width: 100%;
    overflow: hidden;
}

.skip-to-top {
    border-color: #adadad;
    color: #333;
    display: none;
    margin-top: 40px;
    margin-bottom: 20px;

    &:hover,
    &:focus {
        color: inherit;
    }

    @include breakpoint(large) {
        display: inline-block;
    }
}

.skip-to-content {
    background-color: $primary-color;
    border: 0;
    color: $white;
    font-family: $bold-font-family;
    overflow: hidden;
    padding: rem-calc(12);
    position: absolute;
        top: 160px;
        left: -1000px;

    &:active,
    &:focus,
    &:hover {
        left: 0;
        overflow: visible;
        z-index: 999;
    }
}

.contact-opt {
    margin-top: 25px;

    span {
        font-family: $body-font-family;
    }

    &:not(:last-child) {
        margin-right: 35px;
    }
}

.welcome {
    .js-video {
        display: block;
        margin-bottom: rem-calc(40);
    }
}

.js-video {
    border-bottom: none;
    max-width: 100%;
}

.info {
    text-align: center;

    .column {
        margin-bottom: rem-calc(50);
    }

    h2 {
        font-size: rem-calc(25);
        margin-bottom: rem-calc(20);
    }

    img {
        margin-bottom: rem-calc(40);
        height: rem-calc(70);
    }

    p {
        margin: 0 auto 20px;
        max-width: rem-calc(370);
    }

    @include breakpoint(medium) {
        .column {
            margin-bottom: 0;
        }
    }
}

.facilities-listing {
    padding: rem-calc(20 0 50);

    @include breakpoint(medium) {
        padding-bottom: rem-calc(70);
    }
}

.no-padding {
    padding: 0;
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.facility-info,
.news-article-view {
    padding-top: rem-calc(40);
}

.sys_textBoxWithRedirect {
    [type="submit"] {
        background: none;
        border: none;
        border-bottom: 1px solid #e20613;
        border-radius: 0;
        color: #e20613;
        padding: 0;
        transition: all .4s ease-out 0s;

        &:hover {
            border-color: transparent;
        }
    }
}
