.nav {
	&.hide-for-large {
		margin-top: rem-calc(36);
	}

	.is-active {
		a {
			&:before {
				left: 0;
				right: 0;
			}
		}
	}
}

	.nav__item {
		font-family: $bold-font-family;
		position: relative;

		a {
			position: relative;

			&:hover {
				&:before {
					right: 0;
					left: 0;
				}
			}
		}

		@include breakpoint(medium) {
			a {
				&:before {
					background: $primary-color;
					content: "";
					height: 2px;
					padding: 0;
					position: absolute;
						right: 50%;
						bottom: -2px;
						left: 50%;
					z-index: 1;
				}
			}
		}
	}

/* ===============================================
    Navigation: Primary
================================================== */

.nav--primary {
	> ul {
		> li {
			> a {
				padding: rem-calc(45 16);
			}
		}
	}

	a {
		border-bottom: none;
		color: inherit;
	}

	.is-dropdown-submenu {
		padding: rem-calc(25);
		top: 101%;
		left: 0;
		z-index: 20;

		a {
			color: $white;
			padding: rem-calc(8 12) !important;

			&:hover {
				background-color: #2c2d2e;
				border-radius: rem-calc(2);
			}
		}
	}

	.is-submenu-item {
		line-height: rem-calc(24) !important;

		a {
			&:before {
				content: none;
			}
		}
	}

	.has-ten-items {
		column-count: 2;
	}

	@include breakpoint(large) {
		display: inline-block;
	}
}

	.nav--primary__item {
		display: inline-block !important;
		font-size: rem-calc(17);

		&.is-dropdown-submenu-parent {
			background: url("../images/icons/chevron-down-grey.svg") no-repeat right 59px;
			background-size: 8px;
		}

		&.is-active {
			a {
				&:before {
					bottom: 38px;
				}
			}
		}

		&.opens-left {
			.is-dropdown-submenu {
				right: 0;
				left: auto;
			}

			&:first-child,
			&:nth-child(2) {
				.is-dropdown-submenu {
					left: 15px;
					right: auto;
				}
			}
		}

		a {
			&:before {
				margin: rem-calc(0 16);
			}

			&:hover {
				&:before {
					bottom: 38px;
				}
			}

			&:last-child {
				&:hover {
					&:before {
						content: none;
					}
				}
			}
		}

		.is-dropdown-submenu {
			min-width: 0;
		}

		.is-submenu-item {
			display: inline-block !important;
			min-width: rem-calc(220);
		}
	}

.nav--secondary,
.nav--tertiary {
	background-color: $light-gray;
	padding: rem-calc(16 0);

	a {
		border-bottom: none;
		color: inherit;
	}

	ul {
		background-color: #3a3b3f;
		display: none;
		position: absolute;
			left: 0;
			right: 0;
		z-index: 1;
	}

	@include breakpoint(medium) {
		ul {
			display: initial;
		}
	}
}

	.nav--secondary__item,
	.nav--tertiary__item {
		border-bottom: 1px solid #5e6063;
		font-size: rem-calc(18);
		text-align: center;

		a {
			color: $white;
			padding: rem-calc(24 0) !important;

			&:hover {
				background-color: #262629;
			}
		}

		@include breakpoint(medium) {
			border-bottom: none;
			font-size: initial;
			text-align: initial;

			a {
				color: inherit;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	.nav--secondary__toggle,
	.nav--tertiary__toggle {
		background: url("../images/icons/chevron-right-grey.svg") no-repeat center right 30px;
		background-size: 8px;
		display: block;
		font-family: $bold-font-family;
		font-size: rem-calc(18);
		position: relative;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);

		@include breakpoint(medium) {
			display: none;
		}
	}

.nav--secondary {
    border-bottom: 1px solid #cacdce;
	height: rem-calc(80);
	padding: 0;
	transition: transform .25s ease-in-out;

    > * {
		&:first-child {
			height: 100%;
        	position: relative;
		}

    }



	h2 {
		display: none;
		float: left;
	    font-size: rem-calc(18);
	    margin-bottom: 0;
	    max-width: rem-calc(262);
	    opacity: 0;
	    transition: visibility 0s .4s, opacity .4s linear;
	    visibility: hidden;
	}

	ul {
		top: 80px;
	}

	@include breakpoint(medium) {
		height: rem-calc(95);
	    padding: rem-calc(22 0);

		h2 {
			display: block;
		}

		ul {
			background-color: transparent;
			display: block !important;
	        left: 50%;
			right: auto;
			top: auto;
		    transform: translateX(-50%);
		    transition: all .4s ease-in-out;
		    transition-delay: .5s;
			white-space: nowrap;
		}
	}

    .hide {
        display: none;
    }
    .show {
        display: block;
    }
}

	.nav--secondary__item {
		a {
			&:before {
				margin: rem-calc(0 16);
			}
		}

		@include breakpoint(medium) {
			transform: translateZ(0);

			a {
				padding: $menu-item-padding !important;

				&:before {
					bottom: -23px;
					transition-duration: .3s;
					transition-property: left, right;
					transition-timing-function: ease-out;
				}

				&.active {
					&:before {
						right: 0;
						left: 0;
					}
				}
			}
		}
	}

.nav--tertiary {
	margin-bottom: 32px;
	position: relative;
	text-align: center;

	ul {
		top: 79px;
	}

	@include breakpoint(medium) {
		background-color: transparent;
		display: inline-block;

		ul {
			position: relative;
				top: 0;
		}
	}
}

	.nav--tertiary__item {
		@include breakpoint(medium) {
			float: left;
			margin: 0 20px 20px 0;
			padding: 0 20px 0 0;
			border-right: 2px solid #dadada;

			&:last-child {
				margin-right: 0;
				padding-right: 0;
				border-right: 0;
			}

			&.active {
				a {
					background: transparent;
					color: inherit;
				}

				&:before {
					margin: rem-calc(0 16 0 0);
					left: 0;
					right: 0;
				}
			}

			&:hover {
				&:before {
					margin: inherit;
				}
			}

			a {
				line-height: 1;
				padding: 0 !important;
			}
		}
	}

.nav--clearing {
	h2 {
		span {
			max-width: rem-calc(234);
		}

		a {
			color: $primary-color;
		}
	}

	@include breakpoint(large) {
		h2 {
			opacity: 1;
			visibility: visible;
		}

		ul {
			left: 100%;
			transform: translateX(-100%);
		}
	}
}

.nav--strapline {
    color: $primary-color;
	height: auto;
    padding: rem-calc(30 0);
    position: relative;
    z-index: 4;

	h2 {
		display: block;
		height: auto !important;
		margin-bottom: rem-calc(6);
	    font-family: $body-font-family;
	    font-size: rem-calc(18);
	    font-weight: 500;
	    margin-bottom: 0;
		opacity: 1;
		visibility: visible;

	    @include breakpoint(medium) {
	        font-size: rem-calc(20);
	        margin-bottom: rem-calc(4);
	    }
	}

	h3 {
		clear: left;
		margin-bottom: rem-calc(30);
	    font-size: rem-calc(20);

		@include breakpoint(medium) {
			font-size: rem-calc(30);
		}

	    @include breakpoint(large) {
	        margin-bottom: 0;
	    }
	}

	p {
		margin-bottom: 0;
	}

	span {
	    border-bottom: none;
	    line-height: rem-calc(43);
	    position: relative;
	    padding-left: rem-calc(15);

	    &:before {
	        content: ".";
	        position: absolute;
	            top: -52%;
	            left: 2px;
	    }

	    @include breakpoint(medium) {
	        &:before {
	            top: -25%;
	            left: 0;
	        }
	    }
	}

    @include breakpoint(large) {
        .button {
            float: right;
            margin-top: rem-calc(12);
        }
    }
}

.nav--white {
	background-color: $white;
	border-bottom: 1px solid #d2d2d2;
}

.nav--pinned {
	@include breakpoint(large) {
		padding: rem-calc(20 0 10);
		position: fixed;
			top: 0;
			left: 0;
			right: 0;
		transform: translateY(-100%);
		transition: transform .25s ease-in-out;
	    will-change: transform;

		h2 {
			font-size: rem-calc(16);
			margin-bottom: 0;
		}

		h3 {
			font-size: rem-calc(20);
		}

		span {
			&:before {
				top: -58%;
				left: 3px;
			}
		}

		.button {
			font-size: rem-calc(18);
			margin-top: rem-calc(3);
		}
	}
}

.fix {
	&.is-active {
		.banner {
			margin-bottom: rem-calc(80); // Add margin to prevent jumping
		}

		.banner--open-day {
		    margin-bottom: 0;
		}

		.nav--fixed {
		    position: fixed;
		        top: 0;
		        right: 0;
		        left: 0;
		    transform: translateY(0);
		    z-index: 120;

		    @include breakpoint(large) {
			    h2 {
					opacity: 1;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
			        transition: opacity .4s 1s linear;
			        visibility: visible;
			    }

			    ul {
			        left: 100%;
			        transform: translateX(-100%);
			    }
			}
		}
	}

	@include breakpoint(medium) {
		&.is-active {
			.banner {
				margin-bottom: rem-calc(95); // Add margin to prevent jumping
			}
		}
	}
}

.pinned {
	&.is-active {
		@include breakpoint(large) {
			.nav--pinned {
				transform: translateY(0);
			}
		}
	}
}

.no-js {
	.top-bar {
		ul {
			ul {
				display: none; // If JavsScript is disabled
			}
		}
	}
}
