.newsroom {
    padding: 0 0 50px;

    .sidebar-wrap {
        &:last-child {
            margin-bottom: rem-calc(30);
        }
    }
}

.newsroom-filter {
    margin-bottom: 34px;

    h1 {
        margin-bottom: 30px;
    }

    button {
        height: 61px;
        min-width: 170px;
    }

    @include breakpoint(large) {
        select {
            float: left;
            margin-right: 25px;
            width: 26.3%;
        }
    }
}

.newsroom-contact,
.newsroom-pages {
    h2 {
        margin-bottom: 45px;
    }
}

.newsroom-pages {
    display: none;

    a {
        border-bottom: 1px solid #333;
        color: #333;
        font-size: 18px;
    }

    @include breakpoint(large) {
        display: block;
    }
}

.newsroom-statement {
    padding: 15px 0 70px;

    figure {
        margin: 0 0 30px;
    }

    figcaption {
        font-family: $heavy-font-family;
        margin-top: 20px;
    }
}

// Flex box
// -------------------------------------------------
.flexbox {
    .newsroom-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .newsroom-flex .column.large-3:not(:last-of-type),
    .newsroom-flex .column.large-6:not(:last-of-type) {
        flex: 1 0 auto;
    }
}
