.news__header {
    h1 {
        float: left;
    }

    a {
        float: right;
    }
}

.news__date {
    color: $primary-color;
    font-family: $bold-font-family;
    margin-bottom: rem-calc(24);
}

.news__img {
    img {
        width: 100%;
    }
}

.news__img--thumb {
    height: rem-calc(174);
    margin-bottom: rem-calc(10);
    width: rem-calc(174);
}

.news__share,
.news__next {
    strong {
        color: $primary-color;
        display: block;
    }

    @include breakpoint(medium) {
        strong {
            display: inline-block;
        }
    }
}

.news__share {
    margin-bottom: rem-calc(36);

    > p {
        margin-bottom: 5px;
    }
}

.news__next {
    background-color: $light-gray;
    color: $dark-gray;
    margin-bottom: rem-calc(40);
    min-height: rem-calc(232);
    padding: rem-calc(30);

    strong {
        margin: rem-calc(22) 0 rem-calc(4);
    }

    p {
        font-size: rem-calc(15);
        margin: 0;
    }

    @include breakpoint(medium) {
        padding: 0 rem-calc(20) 0 0;
    }

    @include breakpoint(large) {
        margin-bottom: 0;

        p {
            font-size: inherit;
        }
    }

    @include breakpoint(xlarge) {
        padding-right: rem-calc(100);
    }
}

    .news__next__img {
        height: rem-calc(232);
        width: rem-calc(242);

        @include breakpoint(medium) {
            float: left;
            margin-right: rem-calc(20);
        }
    }

    .news__next__header {
        font-size: rem-calc(18);
        margin-bottom: rem-calc(20);

        @include breakpoint(large) {
            font-size: rem-calc(20);
        }
    }

.news-article {
    position: relative;
    margin-bottom: rem-calc(20);
    background-color: $white;
    border-bottom: 3px solid #d4d4d4;
    transition: all .4s ease-in-out;

    img {
        width: 100%;
    }

    &:hover {
        opacity: .8;
    }
}

.news-article--date {
    padding-bottom: rem-calc(51);
}

.news-article__header {
    font-family: $bold-font-family;
    margin-bottom: rem-calc(10);
    padding: rem-calc(16) rem-calc(20) 0;
    font-size: rem-calc(17);
    color: $primary-color;

    a {
        border-bottom: none;
    }
}

.news-article__tag {
    @extend .block__tag
}

.news-article__desc {
    padding: 0 rem-calc(20) rem-calc(14);
    font-family: $bold-font-family;
    font-size: rem-calc(18);
    margin: 0;
    line-height: 27px;
    color:#575757;
}

.news-article__date {
    color: $primary-color;
    padding: 0 rem-calc(20) rem-calc(16);
    font-family: $bold-font-family;
}
