.off-canvas-wrapper {
    @include breakpoint(xlarge) {
        .is-open-right {
            transform: translateX(0);
        }
    }

    .is-open-left {
        transform: translateX(674px);
    }
}

#offCanvas {
    ul {
        ul {
            background-color: #3a3b3f;
        }
    }

    a {
        background-color: #3a3b3f;
        border-bottom: 1px solid #5e6063 !important;
        color: $white !important;
        font-family: $bold-font-family;
        font-size: rem-calc(18);
        padding: rem-calc(22 30) !important;

        &:focus,
        &:hover {
            background-color: #262629;
        }

        &:focus {
            color: $white;
        }

        &:hover {
            border-bottom-color: #5e6063;
        }
    }

    .is-drilldown-submenu-parent,
    .js-drilldown-back {
        > a {
            &:before,
            &:after {
                border: none;
                margin: 0;
            }
        }
    }

    .is-drilldown-submenu-parent {
        > a {
            background-image: url("../images/icons/chevron-right-white.svg");
            background-repeat: no-repeat;
            background-position: center right 20px;
            background-size: 8px;
        }
    }

    .js-drilldown-back {
        > a {
            background-image: url("../images/icons/chevron-left-white.svg");
            background-repeat: no-repeat;
            background-position: center left 20px;
            background-size: 8px;
            border-bottom: 1px solid #5e6063;
            color: $white;
            font-family: $bold-font-family;
            font-size: rem-calc(18);
            padding-left: 44px !important;
        }
    }

    @include breakpoint(xlarge) {
        visibility: hidden;
    }
}

.off-canvas {
    bottom: 0;

    * {
       outline: none;
    }

    &.position-left {
        background-color: $white;
        left: -674px;
        max-width: 100%;
        padding: 30px;
        position: fixed;
        width: 674px;

        &.is-open {
            box-shadow: 10px 0px 50px 0px rgba(50, 50, 50, .1);
            transform: translateX(674px);
        }

        button {
            background: url("../images/icons/icon-close.svg") no-repeat center;
            display: block;
            height: 25px;
            position: absolute;
                top: 25px;
                right: 20px;
            width: 25px;
        }

        h2 {
            font-size: 22px;
            margin-bottom: 32px;
        }

        img {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }

        p {
            &:first-of-type {
                font-family: $bold-font-family;
            }
        }

        span {
            color: $primary-color;
        }
    }

    @include breakpoint(medium) {
        a {
            text-align: left;
        }
    }
}
