.panel {
    background-color: $white;
    border-bottom: 3px solid darken($light-gray, 10%);
    padding: 20px;
    position: relative;

    @include breakpoint(large) {
        padding: 30px;
    }
}

    .panel__header,
    .panel__subheader {
        border-bottom: 2px solid $light-gray;
        font-size: 20px;
        margin-bottom: 0;
        padding: 28px 20px 24px;
        text-align: center;
    }

    .panel__link {
        position: absolute;
            right: 20px;
            bottom: 20px;
    }
