.placements {
    position: relative;
}

    .placements__logo {
        background: $white url("../images/icons/right-arrow-circle-grey.svg") no-repeat right 12px bottom 12px;
        background-color: $white;
        border: 1px solid $light-gray;
        height: 185px;
        margin: 0 40px;

        @include breakpoint(medium) {
            margin: 0;
        }

        & > a {
            border-bottom: none;
            cursor: pointer;
            display: block;
            height: 100%;
        }
    }

    .placements__img {
        display: block;
        margin: 0 auto;
        max-width: 50%;
        max-height: 80%;
        position: relative;
    	top: 50%;
    	transform: translateY(-50%);
    }
