.post {
    color: $dark-gray;
    margin-bottom: 30px;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
        a,
        span {
            border-bottom: 2px solid #999;
            color: inherit;
            line-height: 27px;
            transition: all .2s ease-out 0s;
        }
    }

    &.has-no-img {
        background-color: $primary-color;

        .post--alt__content {
            background-color: transparent;
        }

        .post--alt__header {
            span {
                border-color: #f8d4d5;
            }
        }

        * {
            color: $white;
        }

        &:hover {
            .post--alt__header {
                span {
                    border-color: inherit;
                }
            }
        }
    }
}

    .post__tag {
        @extend .block__tag--alt;
    }

    .post__meta {
        color: $primary-color;
        display: block;
        font-family: $bold-font-family;
        margin-bottom: 10px;
    }

    .post__img {
        min-height: rem-calc(177);
        width: 100%;
    }

    .post__header {
        font-size: rem-calc(18);
        margin-bottom: 15px;
    }

    .post__content {
        padding: 22px 30px;

        .post__button {
            width: 48%;

            &:last-of-type {
                float: right;
            }
        }
    }

    .post__desc {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .post__button {
        font-family: $bold-font-family;
        margin-top: 8px;
    }

// ===============================================
// Post: Alternative
// ===============================================

.post--alt {
    background-size: cover;
    min-height: 395px;

    @include breakpoint(large) {
        overflow: hidden;

        &:hover {
            .post--alt__content {
                bottom: 0;
            }

            .post--alt__header {
                span {
                    border-color: #999;
                }
            }

            .post--alt__text {
                max-height: rem-calc(395);
                opacity: 1;
                visibility: visible;
                transition: all .4s ease-in;
            }
        }
    }
}

    .post--alt__content {
        background-color: rgba(240, 243, 245, .85);
        padding: 18px;
        position: absolute;
            bottom: 0;
        width: 100%;
    }

        .post--alt__date {
            color: $primary-color;
            font-family: $bold-font-family;
        }

        .post--alt__header {
            font-size: 17px;
            margin: 6px 0 0;
        }

        .post--alt__text {
            display: none;
            font-family: $body-font-family;
            margin: rem-calc(6) 0 0;
            max-height: 0;
            transition: all .4s ease-out;

            @include breakpoint(large) {
                display: block;
                opacity: 0;
                visibility: hidden;
            }
        }

// ===============================================
// Post: Featured
// ===============================================

.post--feat__content {
    @include breakpoint(medium) {
        max-width: 270px;
    }
}
