.prospectus {
    min-height: 726px;
    position: relative;
}

    .prospectus__img {
        background-color: $light-gray;
        margin-bottom: 74px;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            position: relative;
                top: 54px;
        }
    }

    .prospectus__button {
        position: absolute;
            bottom: 0;
            left: 50%;
        transform: translate(-50%, 0);
    }
