.progress-wrap {
    height: 220px;
    margin-top: 10px;
    position: relative;

    @include breakpoint(large) {
        margin-top: -40px;
    }
}

.progress-wrap {
    height: 240px;
    margin-top: 10px;
    position: relative;

    @include breakpoint(large) {
        margin-top: -40px;
    }
}

.progress {
    background-color: inherit;
    height: 100%;
    margin-bottom: 0;
    position: absolute;
        right: 0;
        left: 0;

    & > svg {
        height: 100%;
        display: block;
    }

    @include breakpoint(medium) {

    }
}

.progress--1 {
    height: 100%;
    top: 0;
}

.progress--2 {
    height: 170px;
    top: 34px;
}

.progress--3 {
    height: 106px;
    top: 68px;
}

.progress--alt--1 {
    // transform: rotate(-93deg);
}

.progress--alt--2 {
    // &:before,
    // &:after {
    //     background-color: $white;
    //     content: "";
    //     display: block;
    //     position: absolute;
    // }
    //
    // &:before {
    //     height: 5px;
    //     top: 114px;
    //     right: auto;
    //     left: 75px;
    //     width: 40px;
    // }
    //
    // &:after {
    //     height: 40px;
    //     margin: 0 auto;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     width: 5px;
    // }
}
