.profiles {
    .stack {
        &:nth-child(4n+6) {
            clear: both;
        }
    }
}

    .profiles__button {
        display: inline-block;
        margin-top: 50px;
    }

.profile__avatar {
    border-radius: 50%;
    margin: 20px auto 0;
    max-height: 112px;
    max-width: 112px;
}

.profile__avatar--large {
    margin-bottom: 18px;
    max-height: 140px;
    max-width: 140px;
}

.profile__header {
    font-family: $body-font-family;
    font-size: rem-calc(34);
    font-weight: lighter;
    margin-bottom: 2px;
}

.profile__credentials {
    font-size: rem-calc(22);
    margin-bottom: 4px;
}

.profile__avatar,
.profile__name,
.profile__job {
    display: block;
}

.profile__name,
.profile__job {
    color: inherit;
}

.profile__name {
    font-family: $bold-font-family;
    font-size: 20px;
    margin: 14px 0 0;
}

.profile__job {
    margin-bottom: 8px;
}

.profile__link {
    border-color: $primary-color;
    color: $primary-color;
}
