.reasons__subheader {
    font-family: $heavy-font-family;
    font-size: rem-calc(20);

    @include breakpoint(large) {
        font-size: rem-calc(23);
    }
}

.reasons__title {
    font-size: rem-calc(20);
}
