#compareModal {
    border: 0;
    border-radius: 0;
    max-width: none;
    overflow-y: visible;
    padding: 0;
    top: 147px !important;
    width: 1262px;

    .close-button {
        right: 0;
        top: -45px;

        span {
            background-image: url("../images/icons/icon-close-white.svg");
        }
    }

    .benefit {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 40px;
        }
    }
}

.reveal {
    margin-bottom: 100px;
    top: 100px !important;
    outline: none;

    label {
        font-family: $body-font-family;
        font-size: rem-calc(17);
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    textarea,
    select {
        background-color: $light-gray;
        border-radius: 0;
        color: #575757;
        font-family: $body-font-family;
        height: rem-calc(46);
        padding: 0 rem-calc(10);

        &:focus {
            border-color: inherit;
        }
    }
}

.search-button {
    background: url("../images/icons/search.svg") no-repeat center;
    padding: 12px;
    position: absolute;
        right: 14px;
        top: 5px;
}
