.schools {
    padding: rem-calc(50px 0);
}

.schools-links {
    padding: rem-calc(20 0 50);

    a {
        display: block;
        margin: 30px 0 0;

        @include breakpoint(medium) {
            display: inline-block;

            &:not(:first-child) {
                margin-left: 4%;
            }
        }

        @include breakpoint(xlarge) {
            &:not(:first-child) {
                margin-left: 6%;
            }
        }
    }
}

.follow-us {
    text-align: center;

    h2 {
        font-size: rem-calc(20);
        margin-bottom: 33px;
    }
}
