.search__header {
    font-size: rem-calc(20);
    margin-bottom: rem-calc(20);

    a {
        border-color: $medium-gray;
        color: $dark-gray;
    }
}


.search__header + p {
    margin-bottom: 48px;
}
