.section {
    background-repeat: no-repeat;
    padding: rem-calc(50) 0;

    &.is-large {
        padding-top: rem-calc(124);
        padding-bottom: rem-calc(124);
    }

    &.has-img {
        padding-bottom: rem-calc(80);
        position: relative;

        &:before {
            content: "";
            position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
        }

        > div  {
            position: relative;
            z-index: 1;
        }
    }

    &.has-img-right {
        background-position: top right;

        &:before {
            background-image: linear-gradient(to top, rgba(244, 244, 244, 1) 60%,rgba(244, 244, 244, .1) 100%);
        }
    }

    &.has-img-left {
        background-position: top left;

        &:before {
            background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, .1) 100%);
        }
    }

    &.no-gradient {
        &:before {
            content: none;
        }
    }

    @include breakpoint(medium) {
        padding: rem-calc(70) 0;

        &.has-img {
            padding-bottom: rem-calc(124);
        }

        &.has-img-right {
            &:before {
                background-image: linear-gradient(to right, rgba(244, 244, 244, 1) 50%,rgba(244, 244, 244, .1) 100%);
            }
        }

        &.has-img-left {
            &:before {
                background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 50%,rgba(255, 255, 255, .1) 100%);
            }
        }
    }

    @include breakpoint(large) {
        &.has-img {
            background-size: cover;
        }

        &.has-img-right {
            background-position: right;
        }

        &.has-img-left {
            background-position: left;
        }
    }
}

    .section__header {
        font-size: rem-calc(20);
        margin-bottom: rem-calc(45);
    }

    .section__cta {
        border-bottom: none;
        color: $primary-color;
        font-family: $bold-font-family;
        font-size: rem-calc(50);
    }

    .section__link {
        background: url("../images/icons/chevron-right.svg") no-repeat right 5px;
        background-size: 9px;
        border-bottom: none;
        color: $primary-color !important;
        font-family: $bold-font-family;
        padding-right: 22px;
    }

    .section__link--white {
        background-image: url("../images/icons/chevron-right-white.svg");
        color: $white !important;
    }

    .section--lightgrey {
        background-color: $light-gray;

        .facts-figures__panel,
        .connections__logo {
            background-color: $white;
        }
    }

.section--white {
    background-color: $white;

    .study__header {
        border-color: #eee;
    }

    .study__header,
    .panel,
    .block {
        background-color: $light-gray;
    }

    .block--thumb {
        background-color: transparent;
    }
}

.section--blue {
    background-color: #466273;
    color: $white;

    &.is-into {
        .column {
            &:last-of-type {
                p {
                    color: #d1e0e9;
                }
            }
        }
    }

    a {
        border-color: $white;
        color: $white;

        &:hover {
            border-color: transparent;
        }
    }

    .header {
        &:after {
            background-color: $white;
        }
    }
}
