.sidebar-wrap,
.sidebar {
    float: left;
    width: 100%;
}

//================================================
// Sidebar wrapper
//================================================

.sidebar-wrap {
    margin-top: rem-calc(30);

    > p {
        font-size: rem-calc(18);
        margin-bottom: rem-calc(20);
    }

    @include breakpoint(large) {
        &:first-of-type {
            margin-top: 0;
        }
    }
}

//================================================
// Tiled sidebar view
//================================================

.sidebar-wrap--tiled {
    .sidebar {

        li {
            &:not(:first-child) {
                margin-top: rem-calc(13);
            }
        }

        &:only-child {
            height: 100%;

            .sidebar {
                height: inherit;
            }
        }
    }

    &:last-of-type {
        .sidebar {
            margin-bottom: rem-calc(31);
        }
    }

    // @include breakpoint(large) {
    //     height: rem-calc(395);
    // }
}

// ===============================================
// Generic sidebar
// ===============================================

.sidebar {
    background-color: $light-gray;
    border-bottom: 3px solid #d4d4d4;
    padding: rem-calc(24);

    li {
        &:not(:first-child) {
            margin-top: rem-calc(16);
        }

        a {
            border-bottom: 2px solid #aeb0b1;
            color: $dark-gray;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: $dark-gray;
        font-size: rem-calc(19);
        margin-bottom: rem-calc(20);
    }

    p {
        margin-bottom: rem-calc(24);
    }

    @include breakpoint(large) {
        a + .sidebar {
            height: 311px;
            margin-bottom: 0;
        }
    }
}

    .sidebar__img {
        float: left;
        height: rem-calc(90);
        margin: rem-calc(0 16 0 0);
        width: rem-calc(90);
    }

// ===============================================
// If sidebar element has no padding
// ===============================================

.sidebar--no-padding {
    border-bottom: none;
    padding: 0;

    a {
        border-bottom: none;
        float: inherit;
        width: 100%;

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
        padding: 18px 10px 18px 0;
    }
}

// ===============================================
// Panel elements for the sidebar
// ===============================================

.sidebar-panel {
    background-color: #466273;
    background-position: center left 24px;
    background-repeat: no-repeat;
    border-bottom: none;
    border-radius: $global-radius;
    color: $white;
    display: block;
    font-family: $heavy-font-family;
    font-size: 20px;
    padding: 24px 24px 24px 80px;

    &:hover {
        opacity: .9;
    }

    &:not(:first-child) {
        margin-top: 14px;
    }
}

    .sidebar-panel--profiles {
        background-image: url("../images/icons/profiles.svg");
    }

    .sidebar-panel--order {
        background-image: url("../images/icons/order.svg");
    }

    .sidebar-panel--schedule {
        background-image: url("../images/icons/schedule.svg");
    }

// ===============================================
// System generic elements
// ===============================================

.sectionHomeLink {
    display: block;
    border-bottom: none;
    color: $dark-gray;
    font-family: $bold-font-family;
    margin-bottom: rem-calc(5);

    &:before {
        content: none !important;
    }
}

.sys_simpleListMenu {
    list-style: none;
    margin: 0;

    ul {
        list-style: inherit;
    }

    li {
        line-height: 30px;
        padding-left: 15px;

        &:not(:first-child) {
            margin-top: 0;
        }
    }

    a {
        position: relative;

        &:before {
            background: url("../images/icons/chevron-right-grey.svg") no-repeat left center;
            background-size: 5px;
            content: "";
            position: absolute;
            left: -15px;
            top: 5px;
            width: 5px;
            height: 9px;
        }

        &:hover {
            border-color: transparent;
            color: $primary-color;
        }
    }
}

li .sys_currentitem,
.sys_currentitem {
    a {
        border-color: transparent;
        color: $primary-color;
    }
}


