.social-block-wrap {
  max-width: rem-calc(1470);
}

.social-block {
  margin-bottom: rem-calc(30);
  background-color: #f4f4f4;
  border-top: 3px solid #d4d4d4;
}

.social-block--twitter {
  border-top-color: #55acee;
}

.social-block--facebook {
  border-top-color: #3b5998;
}

.social-block--instagram {
  border-top-color: #125688;
}

.social-block__info {
  padding: rem-calc(18);
  word-wrap: break-word;
}

.social-block__meta {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.social-block__profile,
.social-block__profile-info {
  display: table-cell;
  vertical-align: middle;
}

.social-block__profile {
  width: 50px;
}

.social-block__profile img {
  width: 40px;
  border-radius: 50%;
}

.social-block__profile-info span {
  display: block;
  font-size: rem-calc(14);
}

.social-block__profile-info a {
  color: #333;
  border-bottom-color: #333;
}

.social-block__date {
  font-size: rem-calc(13);
  margin-top: 24px;
}

.social-block__icons {
  margin-top: rem-calc(20);
}
