.social-menu {
    padding: 12px 0;

    li {
		display: inline-block;

        &:not(:first-child) {
            margin-left: 8px;
        }
    }

    @include breakpoint(large) {
        li {
            &:not(:first-child) {
                margin-left: 14px;
            }
        }
    }
}

.social-clearing {
    margin-top: 40px;
}

.social {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40% !important;
    border: 2px solid $white;
    border-radius: 50%;
    display: inline-block;
    height: 37px;
    text-indent: 99999px;
    width: 37px;

    &:hover {
        background-color: $white;
    }

    @include breakpoint(large) {
        background-size: auto !important;
        height: 44px;
        width: 44px;
    }
}

.social--dark {
    border-color: #575757;

    &:hover {
        background-color: #575757;
    }
}

.twitter {
    background-image: url("../images/icons/twitter.svg");
    background-size: 18px !important;

    &:hover {
        background-image: url("../images/icons/twitter-dark.svg");
        background-size: 18px;
    }
}

.twitter--dark {
    background-image: url("../images/icons/twitter-dark.svg");

    &:hover {
        background-image: url("../images/icons/twitter.svg");
    }
}

.facebook {
    background-image: url("../images/icons/facebook.svg");
    background-size: 9px !important;

    &:hover {
        background-image: url("../images/icons/facebook-dark.svg");
    }
}

.facebook--dark {
    background-image: url("../images/icons/facebook-dark.svg");

    &:hover {
        background-image: url("../images/icons/facebook.svg");
    }
}

.instagram {
    background-image: url("../images/icons/instagram.svg");

    &:hover {
        background-image: url("../images/icons/instagram-dark.svg");
    }
}

.instagram--dark {
    background-image: url("../images/icons/instagram-dark.svg");

    &:hover {
        background-image: url("../images/icons/instagram.svg");
    }
}

.youtube {
    background-image: url("../images/icons/youtube.svg");
    background-size: 18px !important;

    &:hover {
        background-image: url("../images/icons/youtube-dark.svg");
    }
}

.youtube--dark {
    background-image: url("../images/icons/youtube-dark.svg");

    &:hover {
        background-image: url("../images/icons/youtube.svg");
    }
}

.linkedin {
    background-image: url("../images/icons/linkedin.svg");
    background-size: 16px !important;

    &:hover {
        background-image: url("../images/icons/linkedin-dark.svg");
    }
}

.linkedin--dark {
    background-image: url("../images/icons/linkedin-dark.svg");

    &:hover {
        background-image: url("../images/icons/linkedin.svg");
    }
}

.whatsapp {
    background-image: url("../images/icons/whatsapp.svg");

    &:hover {
        background-image: url("../images/icons/whatsapp-dark.svg");
    }
}

.whatsapp--dark {
    background-image: url("../images/icons/whatsapp-dark.svg");

    &:hover {
        background-image: url("../images/icons/whatsapp.svg");
    }
}

.chat {
    background-image: url("../images/icons/chat.svg");

    &:hover {
        background-image: url("../images/icons/chat-dark.svg");
    }
}

.chat--dark {
    background-image: url("../images/icons/chat-dark.svg");

    &:hover {
        background-image: url("../images/icons/chat.svg");
    }
}

.mail {
    background-image: url("../images/icons/mail.svg");

    &:hover {
        background-image: url("../images/icons/mail-dark.svg");
    }
}

.mail--dark {
    background-image: url("../images/icons/mail-dark.svg");

    &:hover {
        background-image: url("../images/icons/mail.svg");
    }
}

.print {
    background-image: url("../images/icons/print.svg");
    background-size: 20px;

    &:hover {
        background-image: url("../images/icons/print-dark.svg");
    }
}

.print--dark {
    background-image: url("../images/icons/print-dark.svg");
    background-size: 20px;

    &:hover {
        background-image: url("../images/icons/print.svg");
    }
}
