.our-staff {
    padding: rem-calc(80 0 50);
}

.staff {
    margin-bottom: rem-calc(90);
    min-height: rem-calc(250);
}

    .staff__img {
        border: 6px solid $white;
        border-radius: 50%;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
        height: rem-calc(140);
        margin: auto;
        position: absolute;
            top: -44px;
            left: 0;
            right: 0;
        width: rem-calc(140);
    }

    .staff__content {
        padding: rem-calc(115 18 18);
        text-align: center;
    }

    .staff__header {
        font-size: rem-calc(20);
        margin-bottom: rem-calc(6);
    }

    .staff__job {
        color: $primary-color;
        font-family: $bold-font-family;
    }
