/* ===============================================
    Subject search
================================================== */

.subjectSearch {
    margin-top: 20px;
    position: relative;

    h1 {
        margin-bottom: 0;
    }

    fieldset {
        position: relative;
    }

    legend,
    input {
        font-size: 23px;
    }

    label {
        font-family: $body-font-family;
        font-size: rem-calc(22);
        margin-bottom: rem-calc(10);
        position: absolute;
            top: rem-calc(12);
            left: rem-calc(20);
        z-index: 1;

        &:after {
            content: ":";
        }

        @include breakpoint(large) {
            &:after {
                content: "";
            }
        }
    }

    .subjectSearch__field {
        background-color: #f0f3f5;
        border-color: #f0f3f5;
        color: inherit;
        font-family: $heavy-font-family;
        padding: rem-calc(20) rem-calc(48) rem-calc(20) rem-calc(160);
        border-radius: $global-radius;
    }

    .subjectSearch__button {
        background-image: url("../images/icons/search-grey.svg");
        background-repeat: no-repeat;
        height: 21px;
        position: absolute;
            top: 21px;
            right: 20px;
        width: 21px;
    }

    @include breakpoint(large) {
        margin-top: 0;

        label {
            position: relative;
                top: 0;
                left: 0;
        }

        .subjectSearch__field {
            border: 1px solid #c9c9c9;
            padding-left: rem-calc(20);
            height: auto;
            position: relative;
                top: auto;
                left: auto;

            &:after {
                content: "";
            }
        }

        .subjectSearch__button {
            top: 25px;
        }
    }
}

/* ===============================================
    Subject listing
================================================== */

.subject-listing {
    padding-bottom: rem-calc(44);

    .row > {
        > .column {
            margin-bottom: rem-calc(30);
        }
    }

    .medium-6 {
        &:nth-child(2n + 1) {
            @include breakpoint(medium) {
                clear: left;
            }
        }
    }

    .large-4 {
        &:nth-child(2n + 1) {
            @include breakpoint(large) {
                clear: none;
            }
        }

        &:nth-child(3n + 1) {
            @include breakpoint(large) {
                clear: left;
            }
        }
    }

    @include breakpoint(large) {
        padding-bottom: rem-calc(63);
    }
}

/* ===============================================
    Subject compare
================================================== */

.subject__compare {
    padding: rem-calc(16) rem-calc(12);

    input[type="compare"] {
        margin: 0;
    }

    label {
        display: inline-block;
        font-family: $bold-font-family;
        font-size: rem-calc(18);
        line-height: 1.3;
        margin-left: rem-calc(4);
        margin: 0 0 0 rem-calc(4);
    }
}

/* ===============================================
    Subject
================================================== */

.subject {
    margin-bottom: rem-calc(30);

    img {
        transition: all .4s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }
}

.subject__tag {
    margin-bottom: rem-calc(4);
    font-size: rem-calc(17);
    color: $primary-color;
}

.subject__title {
    font-family: $heavy-font-family;
    font-size: rem-calc(20);

    a {
        color: $dark-gray;
        border-bottom: 2px solid #a4a5a6;
    }

    @include breakpoint(medium) {
         margin-bottom: rem-calc(14);
    }
}

.subject__desc {
    margin-bottom: rem-calc(26);

    p {
        margin-bottom: 0;
    }
}

.subject__stat {
    float: left;
    width: (100% / 3);
    text-align: center;
}

.subject__stat__fig {
    display: inline-block;
    width: rem-calc(48);
    height: rem-calc(48);
    margin: 0 auto rem-calc(7);
    font-family: $heavy-font-family;
    font-size: rem-calc(14);
    line-height: rem-calc(48);
    color: $white;
    text-align: center;
    background-color: $secondary-color;
    border-radius: 50%;
}

.subject__stat__title {
    display: block;
    font-family: $bold-font-family;
    font-size: rem-calc(14);
}

/* ===============================================
    Subject grid view
================================================== */

.subject--grid {
    background-color: $light-gray;
    border-bottom: 3px solid #d4d4d4;
    position:relative;


    @include breakpoint(medium) {
        padding-bottom: rem-calc(60);

    }
}

.subject--grid__info {
    padding: rem-calc(17) rem-calc(10) rem-calc(26);

    @include breakpoint(medium) {
        padding-right: rem-calc(15);
        padding-left: rem-calc(15);
    }

    @include breakpoint(large) {
        padding-right: rem-calc(20);
        padding-left: rem-calc(20);
    }
}

.subject--grid .subject__stats {
    @include breakpoint(medium) {
        position: absolute;
        bottom: rem-calc(11);
        left: 0;
        width: 100%;

    }
}

/* ===============================================
    Subject list view
================================================== */

.subject--list {
    float: left;
    position: relative;
    background-color: $light-gray;
    width: 100%;
}

.subject__compare--list {
    label {
        font-size: rem-calc(15);
        margin-right: rem-calc(4);
        margin-bottom: 0;
    }

    @include breakpoint(large) {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.subject--list__img {
    height: rem-calc(184);

    @include breakpoint(medium) {
        float: left;
        width: rem-calc(185);
    }

    @include breakpoint(large) {
        margin-left: 0;
    }
}

.subject--list__info {
    padding: rem-calc(17);

    @include breakpoint(medium) {
        padding: 0 rem-calc(16) rem-calc(16) rem-calc(216);
    }

    @include breakpoint(large) {
        padding-left: rem-calc(206);
        padding-top: rem-calc(20);
    }
}

.subject--list__detail {
    @include breakpoint(large) {
        width: 53%;
    }

    @include breakpoint(xlarge) {
        width: 60%;
    }
}

.subject__title--list {
    margin-bottom: rem-calc(9);
}

.subject__desc--list {
    @include breakpoint(large) {
        margin-bottom: 0;
    }
}

.subject__stats--list {
    @include breakpoint(large) {
        position: absolute;
        top: rem-calc(71);
        right: 0;
        width: rem-calc(356);
    }
}

.subject__stat--list {
    @include breakpoint(medium) {
        width: auto;
        margin-right: rem-calc(20);
    }
}

/* ===============================================
    Compare
================================================== */

.compare {
    display: inline-block;
    font-size: rem-calc(18);
    line-height: rem-calc(49);
    cursor: pointer;

    input {
        margin: 0;
        opacity: 0;
        height: 0;
        width: 0;

        &:focus + .outer .inner {
            transform: scale(.5);
            opacity: .5;
        }

        &:checked + .outer .inner {
            transform: scale(1);
            opacity: 1;
        }
    }

    .outer {
        width: rem-calc(20);
        height: rem-calc(20);
        display: block;
        float: right;
        border: 2px solid #cccdcf;
        border-radius: 50%;
        background-color: #fff;
        margin-left: rem-calc(4);
    }

    .inner {
        transition: all .25s ease-in-out;
        width: rem-calc(10);
        height: rem-calc(10);
        transform: scale(0);
        display: block;
        margin: rem-calc(3);
        border-radius: 50%;
        background-color: $primary-color;
        opacity: 0;
    }

    &:hover {
        .inner {
            transform: scale(.5);
            opacity: .5;
        }
    }
}

.compare--left {
    .outer {
        float: left;
        margin-left: 0;
        margin-right: rem-calc(8);
    }
}

@-webkit-keyframes enter {  0%, 20%, 40%, 60%, 80%, 100%
    {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
    }

     20% {
         -webkit-transform: scale3d(1.1, 1.1, 1.1);
    }

     40% {
         -webkit-transform: scale3d(.9, .9, .9);
    }

     60% {
         opacity: 1;
         -webkit-transform: scale3d(1.03, 1.03, 1.03);
    }

     80% {
         -webkit-transform: scale3d(.97, .97, .97);
    }

     100% {
         opacity: 1;
         -webkit-transform: scale3d(1, 1, 1);
    }

}

@keyframes enter {  0%, 20%, 40%, 60%, 80%, 100%
    {
         -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
         transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

     0% {
         opacity: 0;
         -webkit-transform: scale3d(.3, .3, .3);
         transform: scale3d(.3, .3, .3);
    }

     20% {
         -webkit-transform: scale3d(1.1, 1.1, 1.1);
         transform: scale3d(1.1, 1.1, 1.1);
    }

     40% {
         -webkit-transform: scale3d(.9, .9, .9);
         transform: scale3d(.9, .9, .9);
    }

     60% {
         opacity: 1;
         -webkit-transform: scale3d(1.03, 1.03, 1.03);
         transform: scale3d(1.03, 1.03, 1.03);
    }

     80% {
         -webkit-transform: scale3d(.97, .97, .97);
         transform: scale3d(.97, .97, .97);
    }

     100% {
         opacity: 1;
         -webkit-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    }
}

/* ===============================================
    Compare bar
================================================== */

.compare-bar {
    background-color: rgba(34, 34, 34, .93);
    color: $white;
    padding: 10px 0;
    position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
    z-index: 10;

    span {
        font-family: $bold-font-family;
        font-size: rem-calc(17);
        margin-right: 20px;
    }
}
