table {
    border-collapse: collapse;
    border-radius: 0;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;

    tbody {
        th,
        td {
            font-family: $bold-font-family;
            line-height: inherit;
            min-width: 300px;
        }

        th {
            background-color: #46626f;
            border: 1px solid #46626f;
            color: $white;
            font-weight: bold;
            padding-bottom: 25px;
            padding-top: 25px;
            text-align: left;
            vertical-align: middle;
        }

        td {
            border: 1px solid #d3d3d3;
            vertical-align: top;
        }
    }
    a {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word;
    }
}
