.testimonials {
   background-image: url("../images/banners/banner-testimonials.jpg");
   background-color: #3a3b3f;
   background-position: center;
   background-size: cover;
   color: $white;
   height: rem-calc(598);
   position: relative;

   &:before {
       background-image: linear-gradient(to bottom, rgba(51, 51, 51, .5) 0%, rgba(51, 51, 51, .5) 82%, rgba(0, 0, 0, .4) 100%);
       content: "";
       position: absolute;
           top: 0;
           right: 0;
           bottom: 0;
           left: 0;
   }

   @include breakpoint(medium) {
       height: 534px;
   }
}

    .testimonials__content {
        font-size: rem-calc(18);
        font-style: italic;
        line-height: 34px;
        margin-bottom: 50px;

        @include breakpoint(medium) {
            font-size: rem-calc(22);
        }
    }

    .testimonials__source {
        font-size: 20px;
        margin-bottom: 0;
    }

.testimonials--conference {
    background-image: url("../images/conference-centre/backgrounds/testimonials.jpg");

    &:before {
        background: rgba(70, 98, 115, .9);
    }
}

.testimonials--open-day {
    overflow: hidden;

    .orbit-bullets {
        text-align: left;

        button {
            border-color: #e20613;

            &.is-active {
                background-color: #e20613;
            }
        }
    }

    @include breakpoint(medium) {
        .orbit {
            padding-right: rem-calc(280);
        }
    }

    @include breakpoint(large) {
        .orbit {
            padding-right: rem-calc(345);
        }
    }


}

    .testimonials--open-day__header {
        font-size: rem-calc(23);
    }

    .testimonials--open-day__content {
        font-size: rem-calc(20);
        font-style: italic;
        line-height: 35px;

        @include breakpoint(large) {
            font-size: rem-calc(23);
        }
    }

    .testimonials__img {
        @include breakpoint(small only) {
            display: none !important;
        }

        @include breakpoint(medium) {
            position: absolute;
            bottom: rem-calc(-100);
            right: 0;
        }

        &.is-active {
            @include breakpoint(medium) {
                display: block;
            }
        }
    }
