.timeline {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: rem-calc(7);
        left: rem-calc(10);
        width: rem-calc(2);
        height: 100%;
        background-color: #e2e2e2;
    }

    @include breakpoint(medium) {
        &:after {
            left: rem-calc(170);
        }
    }
}

.timeline__header {
    font-size: rem-calc(23);
    margin-bottom: rem-calc(60);
}

.timeline__item {
    position: relative;
    margin-bottom: rem-calc(26);
    padding-left: rem-calc(47);
    cursor: pointer;

    &:last-child {
        &:after {
            content: "";
            position: absolute;
            top: rem-calc(10);
            left: rem-calc(10);
            z-index: 1;
            width: rem-calc(2);
            height: 100%;
            background-color: $white;
        }
    }

    @include breakpoint(medium) {
        padding-left: rem-calc(208);

        &:last-child {
            &:after {
                left: rem-calc(170);
            }
        }
    }
}

.timeline__time {
    margin-bottom: rem-calc(5);
    font-family: $bold-font-family;
    font-size: rem-calc(18);
    cursor: pointer;

    @include breakpoint(medium) {
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0;
    }
}

.timeline__title {
    display: inline-block;
    margin-bottom: rem-calc(7);
    font-family: $bold-font-family;
    font-size: rem-calc(18);
    font-weight: normal;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    transition: all .2s ease-out 0s;

    a {
        border-bottom: none;
    }

    &:after {
        content: "";
        position: absolute;
        top: rem-calc(6);
        left: rem-calc(3);
        z-index: 2;
        width: rem-calc(16);
        height: rem-calc(16);
        border: 2px solid #c6c6c6;
        background-color: $white;
        border-radius: 50%;
        transition: all .2s ease-out 0s;
        cursor: pointer;
    }

    @include breakpoint(medium) {
        &:after {
            left: rem-calc(163);
        }
    }
}

.timeline__title--alt {
    border-color: $white;

    &:after {
        border-color: #666;
    }

    @include breakpoint(medium) {
        &:after {
            left: rem-calc(191);
        }
    }
}

.timeline__info {
    p {
        margin-bottom: 0;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        transition-delay: .4s;
    }
}

.timeline__img__tag {
    color: #000;
    padding: rem-calc(5 10);
}

// ===============================================
// Alternative timeline view
//================================================

.timeline--alt {
    &:after {
        height: 92%;

        @include breakpoint(medium) {
            left: rem-calc(198);
        }
    }
}

.timeline__header--alt {
    &:after {
        background-color: $white;
    }
}

.timeline__item--alt {
    &.timeline__item--active,
    &.timeline__item:hover {
        .timeline__title {
            &:after {
                border-color: transparent;

                @include breakpoint(medium) {
                    left: rem-calc(188);
                }
            }
        }
    }

    &:last-child {
        &:after {
            content: none;
        }
    }

    @include breakpoint(medium) {
        padding-left: rem-calc(230);

        &:last-child {
            &:after {
                left: rem-calc(198);
            }
        }
    }
}

// ===============================================
// Define the active state styles
//================================================

.timeline__item--active,
.timeline__item--active .timeline__title:after,
.timeline__item--active .timeline__time {
    cursor: default;
}

.timeline__item--active .timeline__title {
    font-size: rem-calc(20);
    border-bottom: transparent;
}

.timeline__item--active .timeline__title,
.timeline__item:hover .timeline__title {
    &:after {
        top: rem-calc(4);
        left: 0;
        width: rem-calc(22);
        height: rem-calc(22);
        border-color: $primary-color;

        @include breakpoint(medium) {
            left: rem-calc(160);
        }
    }
}

.timeline__item--active .timeline__info {
    p {
        opacity: 1;
    }
}

// ===============================================
// Timeline images
//================================================

.timeline__imgs {
    display: none;

    @include breakpoint(large) {
        display: block;
        position: relative;
        float: right;
        width: rem-calc(480);
        min-height: rem-calc(510);
        margin-top: rem-calc(68);
        margin-right: rem-calc(15);
    }

    @include breakpoint(xlarge) {
        width: rem-calc(539);
    }
}

.timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    transition: all .5s ease-out 0s;

    img {
        opacity: .3;
        transition: opacity .5s ease-out 0s;
    }
}

.timeline__img--active {
    box-shadow: 5px 7px 50px rgba(0, 0, 0, .2);
    z-index: 10;

    img {
        opacity: 1;
    }
}

.timeline__img--1 {
    top: rem-calc(62) !important;
    left: 0 !important;
}

.timeline__img--2 {
    top: 0 !important;
    left: rem-calc(120) !important;
}

.timeline__img--3 {
    top: rem-calc(136) !important;
    left: rem-calc(71) !important;
}

// ===============================================
// When image is not active
//================================================

.timeline__img--disabled  {
    img {
        opacity: .3;
    }
}

// ===============================================
// Applies if JavaScript is disabled
//================================================

.js .timeline__info {
    display: none;
}
