.top-bar {
    border-bottom: 1px solid $light-gray;
    position: relative;
    z-index: 999;

    fieldset {
        display: none;
        position: relative;
    }

    @include breakpoint(large) {
        border-bottom: 1px solid #d2d2d2;

        fieldset {
            display: inline-block;
        }
    }

    @include breakpoint(xlarge) {
        padding: 0 30px;
    }
}

    .top-bar__search {
        border: 0 !important;
        border-bottom: 1px solid $medium-gray !important;
        border-radius: 0;
        height: auto !important;
        margin: 0 0 0 25px !important;
        padding: 10px 26px 10px 0 !important;
        width: 140px;

        &:focus {
            border-color: $medium-gray;
            border-top: 0;
            border-right: 0;
            border-left: 0;
            border-radius: 0;
        }

        &::placeholder {
            color: $dark-gray !important;
        }

        @include breakpoint(large) {
            display: inline-block;
        }
    }

    .top-bar__button {
        background: url("../images/icons/search.svg") no-repeat center right;
        height: 21px;
        position: absolute;
            right: 0;
            top: 8px;
        width: 21px;
    }
