.txt-grid {
    padding-top: rem-calc(68);
    padding-bottom: rem-calc(54);
}

.txt-grid__header {
    margin-bottom: rem-calc(59);
    font-size: rem-calc(30);
    text-align: center;

    &:after {
        margin-left: auto;
        margin-right: auto;
    }
}

.txt-grid__subheader {
    margin-bottom: rem-calc(10);
    font-size: rem-calc(20);
}

// Clearing columns
// -------------------------------------------------
.txt-grid .medium-6 {
    &:nth-child(2n + 1) {
        @include breakpoint(medium) {
            clear: left;
        }
    }
}

.txt-grid .large-4 {
    &:nth-child(2n + 1) {
        @include breakpoint(large) {
            clear: none;
        }
    }

    &:nth-child(3n + 1) {
        @include breakpoint(large) {
            clear: left;
        }
    }
}
