.usr-float-left,
.usr-float-right,
.usr-centre  {
	position: static;
	max-width: rem-calc(204);
}



.usr-float-left,
img.usr-float-left {
    float: left;
	margin-right: 30px;
}

.usr-float-right,
img.usr-float-right {
    float: right;
	margin-left: 30px;
}

.usr-centre,
img.usr-centre {
    margin: 0 auto;
    display: block;
}
