.virtual-tour {
    background-image:url("../images/virtual-tour.jpg");
    background-position: -260px 0;
    transition: all .4s ease-in-out;

    > div {
        background-color: rgba(51, 51, 51, .8);
        border-radius: 50%;
        color: $white;
        display: block;
        font-size: 22px;
        height: 142px;
        line-height: 28px;
        margin: 0 auto;
        padding: 42px 0;
        text-align: center;
        width: 142px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    span {
        display: block;
        font-family: $body-font-family;

        &:first-child {
            font-size: 28px;
        }

        &:last-child {
            font-size: 21px;
        }
    }

    &:hover {
        opacity: .8;
    }

    @include breakpoint(medium) {
        background-position: center;
    }
}

.virtual-tour--large {
    height: rem-calc(300);

    @include breakpoint(medium) {
        height: rem-calc(480);
    }
}

.virtual-tour--small {
    height: rem-calc(286);

    @include breakpoint(medium) {
        height: rem-calc(286);
    }
}

/* ===============================================
    Virtual Tour banner
================================================== */

.virtual-tour-banner {
    color: $white;
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 54% 94%, 49% 100%, 44% 94%, 0 94%);
    height: rem-calc(600);
    display: block;
    z-index: 11;

    h1 {
        font-family: $bold-font-family;
        margin-bottom: rem-calc(14);
        max-width: none !important;
    }

    span {
        border-bottom: 2px solid $white;
        font-family: $bold-font-family;
        font-size: rem-calc(26);
    }

    &:before {
        background-image: linear-gradient(to top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, .2) 60%, rgba(0, 0, 0, .31) 100%);
    }

    &:hover {
        span {
            border-color: inherit;
        }
    }

    &:not(:first-child) {
        height: rem-calc(532);
        margin-top: -38px;
    }

    @include breakpoint(medium) {
        clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 53% 94%, 49% 100%, 45% 94%, 0 94%);
    }

    @include breakpoint(large) {
        clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 52% 94%, 50% 100%, 48% 94%, 0 94%);
    }
}

.virtual-tour-banner--2  { z-index: 10; }
.virtual-tour-banner--3  { z-index: 9; }
.virtual-tour-banner--4  { z-index: 8; }
.virtual-tour-banner--5  { z-index: 7; }
.virtual-tour-banner--6  { z-index: 6; }
.virtual-tour-banner--7  { z-index: 5; }
.virtual-tour-banner--8  { z-index: 4; }
.virtual-tour-banner--9  { z-index: 3; }
.virtual-tour-banner--10 { z-index: 2; }

.virtual-tour-banner--dark {
    background-color: #e0e7ec;
    color: #575757;

    span {
        border-color: #575757;
    }
}

.virtual-tour-banner--last {
    box-shadow: inset 0 30px 60px -20px rgba(0, 0, 0, .2);
    color: #575757;
    margin-top: -40px;
    padding: 170px 0;
    z-index: 1;

    h1 {
        margin-bottom: 50px;
    }
}
