.visit-us {
    background: linear-gradient(to bottom, rgba(51, 51, 51, .6) 0%, rgba(51, 51, 51, .6) 82%), url("../images/ssu.jpg") no-repeat;
    background-color: #3a3b3f;
    background-position: center;
    background-size: cover;
    color: $white;
    height: 492px;
}

.visit-us--landing-page {
     background-position: center;
     height: rem-calc(492);
 }

    .visit-us__header {
        font-size: 32px;
        margin-bottom: 38px;
    }

    .visit-us__content {
        font-size: 28px;
        margin-bottom: 44px;
    }
