.sys_cms-form-body {
    list-style: none;
    margin: 0 0 rem-calc(60);
}

.sys_sectionbreak {
    margin: rem-calc(50 0 20);
}

.sys_sectionbreak-header {
    font-size: rem-calc(24);
}

.sys_sectionbreak-text {
    font-size: rem-calc(14);
}

.sys_legend {
    @extend label;
    margin-bottom: rem-calc(10);
}

.sys_form-submit.sys_form-submit{
    @extend .button;
    @extend .button--cta;
    @extend .button--btm;
    padding-right: 64px;
    float:right;
}

.sys_cms-form-control:after {
    content: "";
    display: table;
    clear: both;
}

.sys_cms-form-control  button{
    @extend .button;
}

[id^="btnBack_"] {
    float:left;
}

[id^="btnNext_"] {
    float:right;
}
