input[type="checkbox"] {
    background-color: $light-gray;
    border: 1px solid #c9c9c9;
    height: rem-calc(16);
    position: relative;
    transition: all .4s ease-in-out;
    vertical-align: middle;
    width: rem-calc(16);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
select {
    appearance: none;
    height: rem-calc(62);
    padding: rem-calc(20) rem-calc(13);
    font-size: rem-calc(17);
    font-family: $bold-font-family;
    border: 1px solid #c9c9c9;

    &:focus {
        border: 1px solid $dark-gray;
    }

    &::placeholder {
        color: #a4a4a4;
    }
}

[type='checkbox'] + label,
[type='radio'] + label {
    vertical-align: middle;
}
