label {
    margin-bottom: rem-calc(6);
    font-size: rem-calc(20);
    font-family: $font-family-bold;
    color: #575757;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    height: rem-calc(61);
    padding: rem-calc(20) rem-calc(13);
    font-size: rem-calc(17);
    font-family: $font-family-bold;
    color: $primary-color;
    border: 1px solid #c9c9c9;

    &:focus {
        border: 1px solid $primary-color;
    }
}
