// Hide iFrame added from tracking scripts
body {
    > iframe {
	    position: absolute;
    }
}

.site-wrap {
    @include breakpoint(large) {
        background-color: $white;
        box-shadow: 0 10px 10px 0px rgba(0, 0, 0, .2);
        margin-bottom: rem-calc(536);
        position: relative;
        width: 100%;
        z-index: 10;
    }
}
