blockquote {
    position: relative;

    &:before {
        background-color: #cc3e2d;
        content: "";
        display: block;
        height: 35px;
        position: absolute;
            top: 10px;
            left: 0;
        width: 12px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-bold;
}

.header {
    font-size: 20px;
    margin-bottom: 50px;

    &:after {
        background-color: $primary-color;
        content: "";
        display: block;
        height: 3px;
        margin: 22px 0 0;
        width: 43px;
    }
}

p {
    &.end {
        margin-bottom: 0;
    }
}

.lead {
    font-family: "Bliss-Heavy";
    margin-bottom: 50px;
}

.link {
    border-bottom: 1px solid lighten($primary-color, 25%);
    color: $primary-color;
    font-family: $font-family-bold;

    &:hover {
        border-bottom: 0;
    }
}
