// Icons
// -------------------------------------------------
@mixin icons {
  // Loop through the icons map
  @each $name, $icon in $icons {
    .icon-#{$name} {
      font-size: map-get($icon, size);
    }
  }
}

// Icons fallback
// -------------------------------------------------
@mixin icons-fallback {
  .no-svg .icon {
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
  }

  // Loop through the icons map
  @each $name, $icon in $icons {
    $image-path: '../images/icons/png/icon-#{$name}.png';

    // If fallback is specified we want to use a different image for browsers
    // that dont support svg usually because the base colour isn't suitable.
    // Ensure you create the png manually as it won't be automatically created
    @if map-get($icon, fb) {
      $image-path: '../images/icons/png/icon-#{$name}-#{map-get($icon, fb)}.png';
    }

    .no-svg .icon-#{$name} {
      width: map-get($icon, size);
      height: map-get($icon, size);
      background-image: url('#{$image-path}');
    }
  }
}