// Icons
// -------------------------------------------------
$icons: (
    chevron-up: (size: rem-calc(100), fb: 'white'),
    arrow-right-large: (size: rem-calc(50)),
    chevron-right-circle: (size: rem-calc(20))
);
