.catering {
    @include breakpoint(xlarge) {
        // CMS
        background: url("/image-library/conference-centre/backgrounds/catering.png") no-repeat right;
        // Local
        background: url("../images/conference-centre/backgrounds/catering.png") no-repeat right;
        background-size: cover;
    }
}

.accommodation {
    @include breakpoint(xlarge) {
        // CMS
        background: url("/image-library/conference-centre/backgrounds/accommodation.jpg") no-repeat right;
        // Local
        background: url("../images/conference-centre/backgrounds/accommodation.jpg") no-repeat right;
        background-size: cover;
    }
}
