.course-details {
    .column {
        &:not(:first-child) {
            margin-top: 30px;
        }
    }
    @include breakpoint(large) {
        .column {
            &:not(:first-child) {
                margin-top: 0;
            }
        }
    }
}

.course-details__subheader {
    font-size: 20px;
    margin-bottom: 12px;
}

.how-to-apply__subheader,
.how-to-apply__text,
.how-to-apply__link {
    margin-bottom: 10px;
}

.how-to-apply__lead {
    @include breakpoint(large) {
        padding-right: 16px;
    }
}

.how-to-apply__link {
    border-bottom: none;
    color: #575757;
    display: block;
}

.how-to-apply__button {
    width: 100%;

    @include breakpoint(medium) {
        margin-top: 20px;
        width: auto;
    }
}

.study__header,
.study__subheader {
    color: $primary-color;
}

.study__header {
    background-color: $white;
    font-size: 22px;
    @extend .panel__header;
}

.study__subheader {
    font-size: 20px;
    margin-bottom: 14px;
}

.study__panel {
    margin-bottom: 15px;

    * {
        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: 20px;
    }
}

.study__panel--alt {
    @include breakpoint(large) {
        &:after {
            content: "";
            border-bottom: 18px solid transparent;
            border-left: 18px solid $white;
            border-top: 18px solid transparent;
            height: 0;
            position: absolute;
                top: 28px;
                right: -18px;
            width: 0;
        }
    }
}

.facilities__img {
    margin-bottom: rem-calc(20);
}

.facilities__img--large {
    height: rem-calc(400);
}

.facilities__img--medium {
    height: rem-calc(300);
}

.facilities__img--small {
    height: rem-calc(250);
}

.related-courses {
    .stack {
        &:nth-child(4n+5) {
            clear: both;
        }

        &:last-child {
            float: left;
        }
    }
}
