.section-landing-page {
   padding-top: 0;
   padding-bottom: 0;
}
.section-landing-page--green {
   background-color: #23A17C ;
   color: #ffffff ;
   padding: 70px;
}
.section-landing-page--blue {
   background-color: #466273 ;
   color: #ffffff ;
}
.section-landing-page--red {
   background-color: #E16766 ;
   color: #ffffff ;
}
.column-landing-page {
   padding-top: 97px;
}
.subheader-column-landing-page {
   padding-top: 93px;
}
.row-landing-page {
   max-width: 100%;
}
.large-7-landing-page {
   padding: 70px 70px 70px 366px;
}
.large-5-landing-page--left {
   padding: 70px;
   float: left;
}
.large-7-landing-page-text--right {
   padding-left: 515px;
}
.article-image--landing-page {
   background-size: cover;
}
.column-landing-page--left {
   col {
       float: left;
   }
}
.hyperlink-landing-page {
   color: #ffffff ;
   border-bottom: 1px solid #ffffff ;
   transition: all 0.4s ease-out 0s;
}
.header-landing-page:after {
   background-color: #ffffff ;
}
.section-landing-page-blended-image {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 100% 100%;
   padding-top: 70px;
   padding-bottom: 70px;
}
.section-landing-page-blended-image--left {
   background-size: contain;
   background-repeat: no-repeat;
   background-position: 170px 100%;
   padding-top: 70px;
   padding-bottom: 70px;
}