.solent-sport {
    button {
        margin-top: rem-calc(70);
    }
}

    .solent-sport__club {
        display: block;
        height: rem-calc(130);
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: rem-calc(30);
        position: relative;

        h4 {
            color: $white;
            float: left;
            padding: rem-calc(12);
        }

        img {
            position: absolute;
                right: 10px;
                bottom: 10px;
        }
    }

.solent-sport__club {
    background-color: $primary-color;
}

.solent-sport__club--american-football {
    background-image: url("../images/solent-sport/solent-sport-american-football.png");
}

.solent-sport__club--athletics {
    background-image: url("../images/solent-sport/solent-sport-athletics.png");
}

.solent-sport__club--badmington {
    background-image: url("../images/solent-sport/solent-sport-badmington.png");
}

.solent-sport__club--basketball {
    background-image: url("../images/solent-sport/solent-sport-basketball.png");
}

.solent-sport__club--boxing {
    background-image: url("../images/solent-sport/solent-sport-boxing.png");
}

.solent-sport__club--canoe {
    background-image: url("../images/solent-sport/solent-sport-canoe.png");
}

.solent-sport__club--cheerleading {
    background-image: url("../images/solent-sport/solent-sport-cheerleading.png");
}

.solent-sport__club--climbing {
    background-image: url("../images/solent-sport/solent-sport-climbing.png");
}

/* ===============================================
    Scholarships
================================================== */

.scholarships {
    .lead {
        margin-bottom: rem-calc(35);
    }

    p {
        margin-bottom: rem-calc(15);
    }

    a {
        display: inline-block;
        margin-bottom: rem-calc(35);
    }

    .js-video {
        float: left;
    }

    @include breakpoint(large) {
        background-image: url("../images/solent-sport/solent-sport-scholarships-bg.jpg");
        background-repeat: no-repeat;
        background-position: right;
    }
}

    .scholarships__link {
        clear: left;
        float: left;
        margin-top: rem-calc(25);

        @include breakpoint(large) {
            margin-top: rem-calc(279);
        }
    }

/* ===============================================
    Don't be Shy
================================================== */

.dont-be-shy {
    color: $white;
    background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
    background: url("../images/solent-sport/solent-sport-dont-be-shy.jpg") no-repeat;
    background-position: center right;
    background-size: cover;

    .header {
        &:after {
             background-color: $white;
        }
    }

    li {
        font-family: $bold-font-family;
    }

    a {
        border-color: $white;
        color: $white;
        display: inline-block;
        font-family: $bold-font-family;
        margin-bottom: rem-calc(25);

        &:hover {
            border-color: transparent;
        }
    }
}

/* ===============================================
    Physiotherapy
================================================== */

.physiotherapy {
    .quote {
        font-family: $bold-font-family;
        font-size: rem-calc(23);
        text-align: center;
        color: $medium-gray;
        line-height: 1.6;
        margin-top: rem-calc(35);

        @include breakpoint(large) {
            margin-top: 0;
            text-align: right;
        }
    }

    @include breakpoint(large) {
        background-image: url("../images/solent-sport/solent-sport-physio.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.coach-education {
    .lead {
        font-size: rem-calc(21);
        margin-bottom: rem-calc(12);
    }

    @include breakpoint(large) {
        background-image: url("../images/solent-sport/solent-sport-coach-education.jpg");
        background-repeat: no-repeat;
        background-position: top right;
    }
}
