.stack {
    padding-bottom: 30px;
}

.column-count-2,
.column-count-3,
.column-count-4 {
    -webkit-column-count-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    width: 100%;

    .header,
    .subheader {
        column-span: all;
    }

    > div,
    p {
        display: inline-block;
    }

    @include breakpoint(medium) {
        column-gap: 30px;
    }
}

.column-count-2 {
    @include breakpoint(medium) {
        column-count: 2;
    }
}

.column-count-3 {
    @include breakpoint(medium) {
        column-count: 3;
    }
}

.column-count-4 {
    @include breakpoint(medium) {
        column-count: 4;
    }
}
